@import "@/assets/scss/function.scss";
button {
    font-size: 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: fixed;
    &.btnReg {
        width: 75px;
        height: 75px;
        background-image: url(#{$img}/btn_rg.png);
    }
    &.btnTop {
        width: 35px;
        height: 35px;
        background-image: url(#{$img}/top-btn-2.png);
    }
    @media (min-width: 1200px) {
        &.btnReg {
            left: 250px;
            bottom: 42px;
        }
        &.btnTop {
            left: calc(50vw + 50px);
            bottom: 65px;
        }
    }
    @media (min-width: 890px) and (max-width: 1199px) {
        &.btnReg {
            left: 0;
            bottom: 42px;
        }
        &.btnTop {
            left: calc(50vw - 50px);
            bottom: 65px;
        }
    }
    @media (min-width: 640px) and (max-width: 889px) {
        &.btnReg {
            left: 0;
            bottom: 64px;
        }
        &.btnTop {
            left: calc(50vw - 50px);
            bottom: 87px;
        }
    }
    @media (max-width: 639px) {
        &.btnReg {
            left: 0;
            bottom: 40px;
        }
        &.btnTop {
            right: 15px;
            bottom: 70px;
        }
    }
}

.mask {
    @include mask;
}