@import "@/assets/scss/function.scss";
section {
    background-color: $BgColorNotFullDiv;
    width: 100%;
    * {
        color: #343434;
    }
    @include media('>=desktop') {
        padding: 50rem 50rem 370rem 50rem;
    }
    @include media('<desktop') {
        padding: 50rem 0;
    }
    >.location {
        @include displayflex(row, center, flex-start, unset);
        @include media('>=desktop') {
            margin-bottom: 26rem;
            >li {
                font-size: 13rem;
            }
        }
        @include media('<desktop') {
            width: calc(100vw - 32rem);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20rem;
            >li {
                font-size: 12rem
            }
        }
        >li {
            @include displayflex(row, center, flex-start, unset);
            color: $FontColorFaq;
            &:not(:first-of-type) {
                margin-left: 10rem;
                &::before {
                    @include icon(5rem, 7rem, 'ico_location_arow.png');
                    content: '';
                    margin-right: 10rem;
                    background-size: 100% auto;
                }
            }
        }
    }
    >h2 {
        @include media('>=desktop') {
            margin-bottom: 50rem;
        }
        @include media('<desktop') {
            width: calc(100vw - 32rem);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 35rem;
        }
        font-size: 34rem;
        font-weight: bold;
        letter-spacing: -0.34rem;
        color: $FontColorTitle;
        border-bottom: 2rem solid $FontColorTitle;
        padding-bottom: 20rem;
    }
    >.list {
        >li {
            &:not(:last-of-type) {
                border-bottom: 1rem solid #e5e5e5;
            }
            >* {
                @include media('>=desktop') {
                    padding: 20rem 20rem;
                }
                @include media('<desktop') {
                    padding: 25rem 16rem;
                }
            }
            >h3 {
                display: grid;
                grid-template-columns: 20rem auto 12rem;
                cursor: pointer;
                >span {
                    font-size: 16rem;
                    font-weight: 500;
                    padding-left: 7rem;
                }
                >s {
                    @include icon(20rem, 20rem, 'ico_q.png');
                    font-size: 0;
                    background-size: 100% auto;
                }
                >svg {
                    font-size: 19rem;
                    color: #999ba4;
                    margin-top: 3rem;
                }
                &.active {
                    >svg {
                        transform: rotate(180deg);
                    }
                }
            }
            >article {
                display: grid;
                grid-template-columns: 20rem auto;
                background-color: $BgColorWhite;
                >s {
                    @include icon(20rem, 20rem, 'ico_a.png');
                    font-size: 0;
                    margin-top: 3rem;
                }
                >div {
                    color: $FontColorFaq;
                    padding-left: 7rem;
                    font-size: 14rem;
                    line-height: 25rem;
                }
            }
        }
    }
}