.advertisement {
    width: 100%;
    background-color: $BgColorHeaderFooter;
    text-align: center;
    @include media('>=tablet') {
        height: 150rem;
        >img {
            width: 100%;
            height: 150rem;
        }
    }
    @include media('<tablet') {
        height: 100rem;
        >img {
            width: 100%;
            height: 100rem;
        }
    }
}