// BG Colors Start
$BgColorMask: #000;
$BgColorTable: #13131f;
$BgColorFullBackground: #1c1e2a;
$BgColorHeaderFooter: #1b1e25;
$BgColorTotalValue :#0b0c0f;
$BgColorChart: #1c202a;
$BgColorWhite: #fff;
$BgColorNotFullDiv: #f8f8f8;
$BgColorNotFullSection: #e1e1e7;
$BgColorSidemenuBorder: #242936;
$BgColorPlusSetingCheckOnRadio: #4b4f5e;
$BgColorPlusSetingCheckOffRadio: #a5a9b4;
$BgColorLayerPopupButton: #ddd;
$BgColorLayerPopupTabActive: #e8e8e8;
$BgColorGray: #67686f;
// BG Colors End
// Font Colors Start
$FontColorGreen: #6bbd46;
$FontColorFluGreen: #0fc14b;
$FontColorOrange: #eb9a2c;
$FontColorAmountUnit: #ffe640;
$FontColorGray: $BgColorGray;
$FontColorIvory: #fff0d0;
$FontColorPortfolioList: #e4b677;
$FontColorAllSelect: #62636b;
$FontColorTitle:#222;
$FontColorContent: #444;
$FontColorFaq: #888;
$FontColorInactive:#bfbfbf;
$FontColorReturn:#666;
// Colors End