$img: "~@/assets/img";
$moAside: 270px;
@mixin displayflex($direction, $align, $justify, $wrap) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    @if($wrap==wrap) {
        flex-wrap: $wrap;
    }
}

@mixin displayGrid($columns, $rows, $gap) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-gap: $gap;
}

@mixin navigation ($size) {
    @include displayflex(row, center, flex-start, unset);
    height: 47px;
    >div {
        @if $size=='mobile' {
            width: 100%;
            background-color: #1b1e25;
        }
        @include displayflex(row, center, center, unset);
        height: 100%;
        >a {
            @if $size=='tab' {
                @include displayflex(row, center, center, unset);
                font-size: 15px;
                padding: 0 20px;
            }
            @else {
                @include displayflex(column, center, center, unset);
                font-size: 13px;
                &:not(:last-of-type) {
                    width: calc(25% - 10px);
                }
            }
            position: relative;
            height: 100%;
            &::after {
                width: 100%;
                height: 2px;
                position: absolute;
                left: 0;
                bottom: 0;
            }
            &:last-of-type {
                font-size: 0;
                @if $size=='mobile' {
                    width: 40px;
                }
                &::before {
                    content: '';
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    @if $size=='tab' {
                        background-image: url(#{$img}/ico_navigation_last_tab.png);
                        width: 22px;
                        height: 4px;
                    }
                    @else {
                        background-image: url(#{$img}/ico_navigation_last_mobile.png);
                        width: 4px;
                        height: 22px;
                    }
                }
            }
        }
    }
}

@mixin language {
    &::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 11px;
        margin-right: 5px;
        vertical-align: middle;
        background-image: url(#{$img}/flags.png);
        margin-right: 5px;
    }
    &.usd:before {
        background-position: 0 -154px;
    }
    &.eur:before {
        background-position: -256px -33px;
    }
    &.krw:before {
        background-position: -80px -77px;
    }
    &.jpy:before {
        background-position: -224px -66px;
    }
    &.cny:before {
        background-position: -176px -22px;
    }
    &.aud:before {
        background-position: -192px 0
    }
    &.brl:before {
        background-position: -176px -11px
    }
    &.cad:before {
        background-position: -16px -22px
    }
    &.chf:before {
        background-position: -96px -22px
    }
    &.gbp:before {
        background-position: -112px -44px
    }
    &.hkd:before {
        background-position: -144px -55px
    }
    &.rub:before {
        background-position: -96px -121px
    }
    &.idr:before {
        background-position: -256px -55px
    }
    &.inr:before {
        background-position: -64px -66px;
    }
    &.mxn:before {
        background-position: -96px -99px;
    }
    &.nzd:before {
        background-position: -48px -110px
    }
    &.php:before {
        background-position: -144px -110px;
    }
    &.sgd:before {
        background-position: -224px -121px;
    }
    &.thb:before {
        background-position: -16px -143px
    }
    &.vnd:before {
        background-position: -128px -154px
    }
    &.try:before {
        background-position: -144px -143px
    }
    &.aed:before {
        background-position: -16px 0
    }
    &.all:before {
        background-position: -80px 0
    }
    &.ang:before {
        background-position: -112px 0
    }
    &.aoa:before {
        background-position: -128px 0
    }
    &.ars:before {
        background-position: -144px 0;
    }
    &.awg:before {
        background-position: -208px 0
    }
    &.bbd:before {
        background-position: 0 -11px;
    }
    &.bdt:before {
        background-position: -16px -11px;
    }
    &.bgn:before {
        background-position: -64px -11px;
    }
    &.bhd:before {
        background-position: -80px -11px;
    }
    &.bob:before {
        background-position: -160px -11px;
    }
    &.bsd:before {
        background-position: -192px -11px;
    }
    &.bwp:before {
        background-position: -240px -11px;
    }
    &.byn:before {
        background-position: -256px -11px;
    }
    &.clp:before {
        background-position: -144px -22px;
    }
    &.cop:before {
        background-position: -192px -22px;
    }
    &.crc:before {
        background-position: -208px -22px;
    }
    &.czk:before {
        background-position: -16px -33px
    }
    &.dkk:before {
        background-position: -64px -33px
    }
    &.dop:before {
        background-position: -96px -33px;
    }
    &.egp:before {
        background-position: -160px -33px;
    }
    &.gel:before {
        background-position: -144px -44px;
    }
    &.ghs:before {
        background-position: -208px -44px;
    }
    &.gtq:before {
        background-position: -80px -55px;
    }
    &.hnl:before {
        background-position: -176px -55px
    }
    &.hrk:before {
        background-position: -192px -55px;
    }
    &.huf:before {
        background-position: -224px -55px
    }
    &.idr:before {
        background-position: -256px -55px;
    }
    &.ils:before {
        background-position: -16px -66px;
    }
    &.isk:before {
        background-position: -128px -66px
    }
    &.irr:before {
        background-position: -112px -66px;
    }
    &.jmd:before {
        background-position: -192px -66px;
    }
    &.jod:before {
        background-position: -208px -66px;
    }
    &.kes:before {
        background-position: -240px -66px;
    }
    &.khr:before {
        background-position: 0 -77px;
    }
    &.kwd:before {
        background-position: -112px -77px;
    }
    &.kyd:before {
        background-position: -128px -77px;
    }
    &.kzt:before {
        background-position: -144px -77px;
    }
    &.lkr:before {
        background-position: -224px -77px;
    }
    &.lsl:before {
        background-position: -256px -77px;
    }
    &.ltc:before {
        background-position: 0 -88px;
    }
    &.mad:before {
        background-position: -64px -88px;
    }
    &.mdl:before {
        background-position: -96px -88px;
    }
    &.mur:before {
        background-position: -48px -99px;
    }
    &.mvr:before {
        background-position: -64px -99px;
    }
    &.mwk:before {
        background-position: -80px -99px;
    }
    &.mxn:before {
        background-position: -96px -99px;
    }
    &.myr:before {
        background-position: -112px -99px;
    }
    &.mzn:before {
        background-position: -128px -99px;
    }
    &.nad:before {
        background-position: -144px -99px;
    }
    &.ngn:before {
        background-position: -208px -99px;
    }
    &.nio:before {
        background-position: -224px -99px;
    }
    &.nok:before {
        background-position: -256px -99px;
    }
    &.nzd:before {
        background-position: -48px -110px;
    }
    &.omr:before {
        background-position: -64px -110px;
    }
    &.pab:before {
        background-position: -80px -110px;
    }
    &.pen:before {
        background-position: -96px -110px;
    }
    &.pgk:before {
        background-position: -128px -110px;
    }
    &.php:before {
        background-position: -144px -110px
    }
    &.pkr:before {
        background-position: -160px -110px
    }
    &.pln:before {
        background-position: -176px -110px
    }
    &.pyg:before {
        background-position: -16px -121px
    }
    &.qar:before {
        background-position: -32px -121px;
    }
    &.ron:before {
        background-position: -160px -88px;
    }
    &.rsd:before {
        background-position: -80px -121px;
    }
    &.rwf:before {
        background-position: -112px -121px;
    }
    &.sar:before {
        background-position: -128px -121px;
    }
    &.sdg:before {
        background-position: -192px -121px
    }
    &.sek:before {
        background-position: -208px -121px;
    }
    &.srd:before {
        background-position: -112px -132px;
    }
    &.szl:before {
        background-position: -208px -132px
    }
    &.thb:before {
        background-position: -16px -143px;
    }
    &.ttd:before {
        background-position: -160px -143px;
    }
    &.twd:before {
        background-position: -192px -143px;
    }
    &.tzs:before {
        background-position: -208px -143px
    }
    &.uah:before {
        background-position: -224px -143px
    }
    &.ugx:before {
        background-position: -240px -143px
    }
    &.uyu:before {
        background-position: -16px -154px;
    }
    &.uzs:before {
        background-position: -32px -154px;
    }
    &.ves:before {
        background-position: -80px -154px;
    }
    &.xaf:before {
        background-position: -160px -22px
    }
    &.xcd:before {
        background-position: -48px 0
    }
    &.xof:before {
        background-position: -112px -22px
    }
    &.yer:before {
        background-position: -224px -154px;
    }
    &.zar:before {
        background-position: -256px -154px;
    }
    &.zmw:before {
        background-position: -16px -165px;
    }
}

@mixin mask {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    @media (max-width: 639px) {
        background-color: #000;
        opacity: 0.5;
    }
}

@mixin layer($width, $position) {
    z-index: 4;
    position: $position;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    width: calc(100% - 30px);
    min-width: 320px;
    max-width: $width;
    padding-bottom: 20px;
    >.tit {
        @include displayflex(row, center, flex-start, unset);
        border-bottom: 1px solid #e8e8e8;
        line-height: 1;
        font-weight: 500;
        color: #222222;
        margin-bottom: 20px;
        font-size: 17px;
        padding: 15px 20px;
    }
    >article {
        margin: 0 auto 30px auto;
        width: calc(100% - 40px);
    }
    >.btnSet {
        @include displayflex(row, center, flex-start, unset);
        border-radius: 2.5px;
        overflow: hidden;
        height: 45px;
        margin: 0 auto;
        width: calc(100% - 40px);
        >button {
            width: 50%;
            height: 45px;
            line-height: 1;
            &:first-of-type {
                background-color: #dddddd;
                color: #999;
                font-weight: 500;
                font-size: 16px;
            }
            &:last-of-type {
                background-color: #6bbd46;
                font-weight: 500;
                font-size: 16px;
                color: #fff;
            }
        }
    }
    >button {
        display: inherit;
        margin-top: 15px;
        border-radius: 2px;
        background-color: #dddddd;
        height: 45px;
        color: #999999;
        font-size: 14px;
        margin: 0 auto;
        width: calc(100% - 40px);
    }
}

@mixin sticky($top) {
    position: sticky;
    top: $top;
    z-index: 2;
}

@mixin list($stickyTop, $list, $grid-template-columns, $grid-template-areas) {
    em {
        font-style: normal;
        font-size: 11px;
        color: #67686f;
        position: relative;
        @media (min-width: 841px) {
            top: -3px;
        }
        @media (max-width: 840px) {
            top: 0;
        }
    }
    .btnBookmark {
        >svg {
            font-size: 17px;
            color: #67686f;
        }
        >span {
            font-size: 0
        }
        &.active {
            >svg {
                color: #ffe640;
            }
        }
    }
    @media (min-width: 841px) {
        >thead,
        >tbody {
            >tr {
                &.bookmark {
                    >td:first-of-type {
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 5px;
                            height: 100%;
                            background-color: #ffe640;
                        }
                    }
                }
                &:not(:last-of-type) {
                    >td {
                        border-bottom: 1px solid #1c1e2a;
                    }
                }
                >th {
                    padding: 10px 0 15px;
                }
                >td {
                    padding: 10px 0;
                }
                >th,
                >td {
                    position: relative;
                    &:first-of-type {
                        padding-left: 15px;
                    }
                    &:last-of-type {
                        padding-right: 15px;
                    }
                    >mark {
                        position: relative;
                        margin-left: 10px;
                    }
                    >.tdSort {
                        margin-left: 5px;
                    }
                    @each $number,
                    $size,
                    $align in $list {
                        &:nth-of-type(#{$number}) {
                            width: $size;
                            text-align: $align;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 840px) {
        display: block;
        >tbody>tr {
            border-top: 1px solid #1c1e2a;
            &.bookmark {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 5px;
                    height: 100%;
                    background-color: #ffe640;
                }
            }
        }
        >thead,
        >tbody {
            display: block;
            >tr {
                position: relative;
                padding: 10px 15px;
                display: grid;
                grid-row-gap: 7px;
                grid-template-columns: $grid-template-columns;
                grid-template-areas: $grid-template-areas;
                >th,
                >td {
                    align-self: center;
                    &:not(:first-of-type) {
                        text-align: right;
                    }
                    >.tdSort {
                        position: absolute;
                        top: 50%;
                        right: 15px;
                    }
                    >mark {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    @each $number,
                    $size,
                    $align in $list {
                        &:nth-of-type(#{$number}) {
                            grid-area: item#{$number};
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 640px) {
        >thead>tr>th {
            @include sticky($stickyTop);
            background-color: #13131f;
        }
    }
    @media (max-width: 639px) {
        >thead {
            @include sticky($stickyTop);
            background-color: #13131f;
        }
    }
    >thead {
        >tr {
            th {
                font-size: 14px;
                color: #67686f;
                font-weight: 500;
                line-height: 1;
                letter-spacing: -0.3px;
                >.thSearch {
                    @include displayflex(row, center, center, unset);
                    position: relative;
                    >button {
                        &:not(.btnBookmark) {
                            @include displayflex(row, center, center, unset);
                            position: absolute;
                            top: 50%;
                            left: 10px;
                            transform: translateY(-50%);
                            line-height: 1;
                            >svg {
                                font-size: 10px;
                                color: #454753;
                            }
                            >span {
                                font-size: 0;
                            }
                        }
                        &.btnBookmark {
                            margin-right: 13px;
                            &+.btnSearch {
                                left: 40px;
                                &+input[type=text] {
                                    width: calc(100% - 30px);
                                }
                            }
                        }
                    }
                    >input[type=text] {
                        width: 100%;
                        height: 28px;
                        line-height: 28px;
                        border-radius: 6px;
                        background-color: #1c1e2a;
                        padding-left: 25px;
                        padding-right: 10px;
                        border: 0;
                        color: #fff;
                        &::placeholder {
                            color: #454753;
                        }
                    }
                }
                >.thSort {
                    @include displayflex(row, center, flex-end, unset);
                    width: 100%;
                    font-size: 14px;
                    color: #67686f;
                    font-weight: 500;
                    line-height: 1;
                    letter-spacing: -0.3px;
                    &:after {
                        content: '';
                        width: 9px;
                        height: 12px;
                        background-repeat: no-repeat;
                        background-image: url(#{$img}/arrow-default-2.png);
                        background-size: 100% auto;
                        margin-left: 5px;
                    }
                    &.up::after {
                        background-image: url(#{$img}/arrow-up.png);
                    }
                    &.down::after {
                        background-image: url(#{$img}/arrow-down.png);
                    }
                }
                >.btnAll {
                    @include displayflex(row, center, flex-end, unset);
                    width: 100%;
                    background-color: transparent;
                    font-size: 14px;
                    color: #67686f;
                    line-height: 1;
                    &::after {
                        content: '';
                        display: inline-block;
                        width: 11px;
                        height: 7.5px;
                        background-repeat: no-repeat;
                        background-image: url(#{$img}/select-arrow.png);
                        background-size: 100% auto;
                        margin-left: 2.5px;
                        transform: rotate(180deg);
                    }
                    &.active::after {
                        transform: rotate(0);
                    }
                    &+div {
                        position: absolute;
                        top: 30px;
                        background-color: #242936;
                        width: 50px;
                        z-index: 2;
                        @media (min-width: 841px) {
                            right: 0;
                        }
                        @media (max-width: 840px) {
                            left: 34%;
                        }
                        >button {
                            display: block;
                            width: 100%;
                            line-height: 1;
                            text-align: center;
                            padding: 8px 0;
                            color: #62636b;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    >tbody {
        >tr {
            &.active {
                background-color: #242936;
            }
            >td {
                line-height: 1;
                letter-spacing: -0.3px;
                font-size: 15px;
                >dl {
                    @include coinName;
                }
                >.tdSort {
                    transform: translateY(-50%);
                    width: 12px;
                    height: 8px;
                    font-size: 0;
                    background-repeat: no-repeat;
                    background-image: url(#{$img}/btn-chart-open.png);
                    background-size: 100% auto;
                    &.up {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }
                >mark {
                    width: 10px;
                    height: 30px;
                    background-color: transparent;
                    >i {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 10px;
                        background-color: #6bbd46;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 1px;
                        height: 100%;
                        background-color: #6bbd46;
                    }
                }
                i {
                    color: #ffe640;
                    font-style: normal;
                }
                s {
                    font-style: normal;
                    font-size: 11px;
                    text-decoration: none;
                    position: relative;
                    @media (min-width: 841px) {
                        top: -3px;
                    }
                    @media (max-width: 840px) {
                        top: 0;
                    }
                }
                &.not {
                    text-align: center;
                    color: #454753;
                    font-size: 15px;
                    font-weight: 500;
                    padding: 200px 0;
                }
            }
        }
    }
}

@mixin section {
    width: 100%;
    position: relative;
    @media (min-width: 1200px) {
        padding: 0 50px;
    }
    @media (min-width: 640px) {
        @include displayGrid(50% 50%, auto, 3px);
    }
    @media (max-width: 639px) {
        background-color: #13131f;
    }
    .ps {
        position: relative;
        background-color: #13131f;
        @media (min-width: 1200px) {
            height: calc(100vh - 42px) !important;
        }
        @media (min-width: 891px) and (max-width: 1199px) {
            height: calc(100vh - 135px) !important;
        }
        @media (min-width: 767px) and (max-width: 890px) {
            height: calc(100vh - 157px) !important;
        }
    }
}

@mixin realTime ($name, $color) {
    @keyframes #{$name} {
        from {
            color: #fff;
        }
        to {
            color: $color;
        }
    }
    animation-name: #{$name};
    animation-duration: 0.5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@mixin coinName {
    display: grid;
    grid-template-columns: 18px auto;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    >dt {
        @include displayflex(row, center, center, unset);
        color: #fff0d0;
        font-size: 12px;
        line-height: 1;
        >img {
            width: 18px;
        }
    }
    >dd {
        line-height: 1;
        &:first-of-type {
            @include displayflex(row, flex-start, flex-start, unset);
            font-size: 15px;
            grid-area: ddFirst;
        }
        &:last-of-type {
            @include displayflex(row, center, flex-start, unset);
            font-size: 12px;
            color: #fff0d0;
            grid-area: ddLast;
        }
    }
    &:not(.col3) {
        grid-template-areas: "dtFirst ddFirst" "dtLast ddLast";
        >dt {
            &:first-of-type {
                grid-area: dtFirst;
            }
            &:last-of-type {
                grid-area: dtLast;
            }
        }
    }
    &.col3 {
        >dt {
            grid-area: dt;
        }
        grid-template-areas: "dt ddFirst" "dt ddLast";
    }
}

@mixin tabs ($length) {
    @include displayflex(row, flex-start, flex-start, unset);
    @include sticky(0);
    padding: 15px;
    width: 100%;
    background-color: #13131f;
    overflow: hidden;
    &::before {
        content: '';
        width: calc(100% - 30px);
        height: 33px;
        background-color: #1c1e2a;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    >button {
        z-index: 3;
        background-color: transparent;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        color: #67686f;
        width: (100%/$length);
        height: 33px;
        &.active {
            background-color: #242936;
            color: #68bb42;
        }
    }
}

.rise,
.rise>* {
    color: #0fc14b;
    &.realTime,
    &.realTime>* {
        @include realTime(rise, #0fc14b);
    }
}

.fall,
.fall>* {
    color: #e4b677;
    >* {
        color: #e4b677;
    }
    &.realTime,
    &.realTime>* {
        @include realTime(fall, #e4b677);
    }
}

.pointer {
    cursor: pointer;
}