$img: "~@/assets/img";
$moAside: 270px;
@mixin displayflex($direction, $align, $justify, $wrap) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
}

@mixin displayGrid($columns, $rows, $gap) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-gap: $gap;
}

@mixin navigation ($size) {
    @include displayflex(row, center, flex-start, unset);
    height: 47px;
    >div {
        @if $size=='mobile' {
            width: 100%;
            background-color: #1b1e25;
        }
        @include displayflex(row, center, center, unset);
        height: 100%;
        >a {
            @if $size=='tab' {
                @include displayflex(row, center, center, unset);
                font-size: 15px;
                padding: 0 20px;
            }
            @else {
                @include displayflex(column, center, center, unset);
                font-size: 13px;
                &:not(:last-of-type) {
                    width: calc(25% - 10px);
                }
            }
            position: relative;
            height: 100%;
            &::after {
                width: 100%;
                height: 2px;
                position: absolute;
                left: 0;
                bottom: 0;
            }
            &:last-of-type {
                font-size: 0;
                @if $size=='mobile' {
                    width: 40px;
                }
                &::before {
                    content: '';
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    @if $size=='tab' {
                        background-image: url(#{$img}/ico_navigation_last_tab.png);
                        width: 22px;
                        height: 4px;
                    }
                    @else {
                        background-image: url(#{$img}/ico_navigation_last_mobile.png);
                        width: 4px;
                        height: 22px;
                    }
                }
            }
        }
    }
}

@mixin language {
    &::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 11px;
        margin-right: 5px;
        vertical-align: middle;
        background-image: url(#{$img}/flags.png);
        margin-right: 5px;
    }
    &.usd:before {
        background-position: 0 -154px;
    }
    &.eur:before {
        background-position: -256px -33px;
    }
    &.krw:before {
        background-position: -80px -77px;
    }
    &.jpy:before {
        background-position: -224px -66px;
    }
    &.cny:before {
        background-position: -176px -22px;
    }
    &.aud:before {
        background-position: -192px 0
    }
    &.brl:before {
        background-position: -176px -11px
    }
    &.cad:before {
        background-position: -16px -22px
    }
    &.chf:before {
        background-position: -96px -22px
    }
    &.gbp:before {
        background-position: -112px -44px
    }
    &.hkd:before {
        background-position: -144px -55px
    }
    &.rub:before {
        background-position: -96px -121px
    }
    &.idr:before {
        background-position: -256px -55px
    }
    &.inr:before {
        background-position: -64px -66px;
    }
    &.mxn:before {
        background-position: -96px -99px;
    }
    &.nzd:before {
        background-position: -48px -110px
    }
    &.php:before {
        background-position: -144px -110px;
    }
    &.sgd:before {
        background-position: -224px -121px;
    }
    &.thb:before {
        background-position: -16px -143px
    }
    &.vnd:before {
        background-position: -128px -154px
    }
    &.try:before {
        background-position: -144px -143px
    }
    &.aed:before {
        background-position: -16px 0
    }
    &.all:before {
        background-position: -80px 0
    }
    &.ang:before {
        background-position: -112px 0
    }
    &.aoa:before {
        background-position: -128px 0
    }
    &.ars:before {
        background-position: -144px 0;
    }
    &.awg:before {
        background-position: -208px 0
    }
    &.bbd:before {
        background-position: 0 -11px;
    }
    &.bdt:before {
        background-position: -16px -11px;
    }
    &.bgn:before {
        background-position: -64px -11px;
    }
    &.bhd:before {
        background-position: -80px -11px;
    }
    &.bob:before {
        background-position: -160px -11px;
    }
    &.bsd:before {
        background-position: -192px -11px;
    }
    &.bwp:before {
        background-position: -240px -11px;
    }
    &.byn:before {
        background-position: -256px -11px;
    }
    &.clp:before {
        background-position: -144px -22px;
    }
    &.cop:before {
        background-position: -192px -22px;
    }
    &.crc:before {
        background-position: -208px -22px;
    }
    &.czk:before {
        background-position: -16px -33px
    }
    &.dkk:before {
        background-position: -64px -33px
    }
    &.dop:before {
        background-position: -96px -33px;
    }
    &.egp:before {
        background-position: -160px -33px;
    }
    &.gel:before {
        background-position: -144px -44px;
    }
    &.ghs:before {
        background-position: -208px -44px;
    }
    &.gtq:before {
        background-position: -80px -55px;
    }
    &.hnl:before {
        background-position: -176px -55px
    }
    &.hrk:before {
        background-position: -192px -55px;
    }
    &.huf:before {
        background-position: -224px -55px
    }
    &.idr:before {
        background-position: -256px -55px;
    }
    &.ils:before {
        background-position: -16px -66px;
    }
    &.isk:before {
        background-position: -128px -66px
    }
    &.irr:before {
        background-position: -112px -66px;
    }
    &.jmd:before {
        background-position: -192px -66px;
    }
    &.jod:before {
        background-position: -208px -66px;
    }
    &.kes:before {
        background-position: -240px -66px;
    }
    &.khr:before {
        background-position: 0 -77px;
    }
    &.kwd:before {
        background-position: -112px -77px;
    }
    &.kyd:before {
        background-position: -128px -77px;
    }
    &.kzt:before {
        background-position: -144px -77px;
    }
    &.lkr:before {
        background-position: -224px -77px;
    }
    &.lsl:before {
        background-position: -256px -77px;
    }
    &.ltc:before {
        background-position: 0 -88px;
    }
    &.mad:before {
        background-position: -64px -88px;
    }
    &.mdl:before {
        background-position: -96px -88px;
    }
    &.mur:before {
        background-position: -48px -99px;
    }
    &.mvr:before {
        background-position: -64px -99px;
    }
    &.mwk:before {
        background-position: -80px -99px;
    }
    &.mxn:before {
        background-position: -96px -99px;
    }
    &.myr:before {
        background-position: -112px -99px;
    }
    &.mzn:before {
        background-position: -128px -99px;
    }
    &.nad:before {
        background-position: -144px -99px;
    }
    &.ngn:before {
        background-position: -208px -99px;
    }
    &.nio:before {
        background-position: -224px -99px;
    }
    &.nok:before {
        background-position: -256px -99px;
    }
    &.nzd:before {
        background-position: -48px -110px;
    }
    &.omr:before {
        background-position: -64px -110px;
    }
    &.pab:before {
        background-position: -80px -110px;
    }
    &.pen:before {
        background-position: -96px -110px;
    }
    &.pgk:before {
        background-position: -128px -110px;
    }
    &.php:before {
        background-position: -144px -110px
    }
    &.pkr:before {
        background-position: -160px -110px
    }
    &.pln:before {
        background-position: -176px -110px
    }
    &.pyg:before {
        background-position: -16px -121px
    }
    &.qar:before {
        background-position: -32px -121px;
    }
    &.ron:before {
        background-position: -160px -88px;
    }
    &.rsd:before {
        background-position: -80px -121px;
    }
    &.rwf:before {
        background-position: -112px -121px;
    }
    &.sar:before {
        background-position: -128px -121px;
    }
    &.sdg:before {
        background-position: -192px -121px
    }
    &.sek:before {
        background-position: -208px -121px;
    }
    &.srd:before {
        background-position: -112px -132px;
    }
    &.szl:before {
        background-position: -208px -132px
    }
    &.thb:before {
        background-position: -16px -143px;
    }
    &.ttd:before {
        background-position: -160px -143px;
    }
    &.twd:before {
        background-position: -192px -143px;
    }
    &.tzs:before {
        background-position: -208px -143px
    }
    &.uah:before {
        background-position: -224px -143px
    }
    &.ugx:before {
        background-position: -240px -143px
    }
    &.uyu:before {
        background-position: -16px -154px;
    }
    &.uzs:before {
        background-position: -32px -154px;
    }
    &.ves:before {
        background-position: -80px -154px;
    }
    &.xaf:before {
        background-position: -160px -22px
    }
    &.xcd:before {
        background-position: -48px 0
    }
    &.xof:before {
        background-position: -112px -22px
    }
    &.yer:before {
        background-position: -224px -154px;
    }
    &.zar:before {
        background-position: -256px -154px;
    }
    &.zmw:before {
        background-position: -16px -165px;
    }
}

@mixin mask {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    @media (max-width: 640px) {
        background-color: #000;
        opacity: 0.5;
    }
}

@mixin layer($width) {
    z-index: 2;
    position: fixed;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    width: $width;
    >.tit {
        @include displayflex(row, center, flex-start, unset);
        height: 60px;
        border-bottom: 1px solid #e8e8e8;
        line-height: 1;
        font-size: 17px;
        font-weight: 500;
        color: #222222;
        padding: 0 30px;
        margin-bottom: 20px;
    }
    >.btnSet {
        @include displayflex(row, center, flex-start, unset);
        border-radius: 2px;
        overflow: hidden;
        height: 45px;
        width: calc(100% - 60px);
        margin: 0 auto 40px auto;
        >button {
            width: 50%;
            height: 45px;
            line-height: 1;
            &:first-of-type {
                background-color: #dddddd;
                color: #999;
                font-weight: 500;
                font-size: 16px;
            }
            &:last-of-type {
                background-color: #6bbd46;
                color: #fff;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}

@mixin section {
    width: 100%;
    @media (min-width: 1200px) {
        padding: 0 50px;
    }
    @media (min-width: 641px) {
        @include displayGrid(50% 50%, auto, 3px);
        .ps {
            height: calc(100vh - 42px) !important;
        }
    }
}

@mixin table {
    th,
    td {
        padding: 15px 0;
    }
    >thead {
        >tr {
            >th {
                font-size: 14px;
                color: #67686f;
                font-weight: 500;
                line-height: 1;
                text-align: center;
            }
        }
    }
    >tbody {
        >tr {
            >th,
            >td {
                border-bottom: 2px solid #1c1e2a;
                color: #fff;
                line-height: 1;
                letter-spacing: -0.15px;
                >em {
                    font-style: normal;
                    font-size: 11px;
                    color: #67686f;
                    vertical-align: top;
                }
                >span {
                    color: #ffe640;
                }
            }
        }
    }
}