@import "@/assets/scss/function.scss";
.tabs {
    @include tabs(2);
    &.btnSet {
        padding-right: 50rem;
        &::before {
            width: calc(100% - 65rem);
        }
        >a {
            position: absolute;
            top: 50%;
            right: 17rem;
            transform: translateY(-50%);
            >span {
                font-size: 0;
            }
            >svg {
                color: $FontColorGray;
                font-size: 15rem;
            }
        }
    }
}

.btnReg {
    font-size: 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: fixed;
    transition: all 0.3s ease-in-out;
    width: 75rem;
    height: 75rem;
    background-image: url(#{$img}/btn_rg.png);
    @include media('>=desktop') {
        left: 250rem;
        bottom: 42rem;
    }
    @include media('>=890px', '<desktop') {
        left: 0;
        bottom: 42rem;
    }
    @include media('>=tablet', '<890px') {
        left: 0;
        bottom: 64rem;
    }
    @include media('<tablet') {
        left: 0;
        bottom: 40rem;
    }
}

.mask {
    @include mask;
}