@import "@/assets/scss/function.scss";
section {
    width: 100%;
    position: relative;
    @media (min-width: 1200px) {
        padding: 0 50px;
    }
    @media (min-width: 640px) {
        @include displayGrid(50% 50%, auto, 3px);
    }
    @media (max-width: 639px) {
        background-color: #13131f;
    }
    .ps {
        position: relative;
        background-color: #13131f;
        @media (min-width: 1200px) {
            height: calc(100vh - 42px) !important;
        }
        @media (min-width: 891px) and (max-width: 1199px) {
            height: calc(100vh - 135px) !important;
        }
        @media (min-width: 767px) and (max-width: 890px) {
            height: calc(100vh - 157px) !important;
        }
    }
}