@import "@/assets/scss/function.scss";
.tabs {
    @include tabs(2);
}

.btnReg {
    font-size: 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: fixed;
    transition: all 0.3s ease-in-out;
    width: 75px;
    height: 75px;
    background-image: url(#{$img}/btn_rg.png);
    @media (min-width: 1200px) {
        left: 250px;
        bottom: 42px;
    }
    @media (min-width: 890px) and (max-width: 1199px) {
        left: 0;
        bottom: 42px;
    }
    @media (min-width: 640px) and (max-width: 889px) {
        left: 0;
        bottom: 64px;
    }
    @media (max-width: 639px) {
        left: 0;
        bottom: 40px;
    }
}

.mask {
    @include mask;
}