@import "@/assets/scss/function.scss";
section {
    width: 100%;
    position: relative;
    @include media('>=desktop') {
        padding: 20rem 50rem 0 50rem;
        @include displayGrid(calc(50% - 2.5rem) calc(50% - 2.5rem), auto, 5rem);
    }
    @include media('>=tablet', '<desktop') {
        @include displayGrid(calc(50vw - 2.5rem) calc(50vw - 2.5rem), auto, 5rem);
    }
    @include media('<tablet') {
        background-color: $BgColorTable;
        padding-bottom: 85rem;
    }
    .ps {
        position: relative;
        background-color: $BgColorTable;
        padding-bottom: 85rem;
        @include media('>=desktop') {
            height: calc(100vh - 62rem) !important;
        }
        @include media('>890px', '<desktop') {
            height: calc(100vh - 135rem) !important;
        }
        @include media('>=tablet', '<890px') {
            height: calc(100vh - 157rem) !important;
        }
    }
}