@import "@/assets/scss/function.scss";
section {
    width: 100%;
    position: relative;
    @include media('>=desktop') {
        padding: 0 50px;
    }
    @include media('>=tablet') {
        @include displayGrid(50% 50%, auto, 3px);
    }
    @include media('<tablet') {
        background-color: $BgColorTable;
    }
    .ps {
        position: relative;
        background-color: $BgColorTable;
        @include media('>=desktop') {
            height: calc(100vh - 42px) !important;
        }
        @include media('>890px', '<desktop') {
            height: calc(100vh - 135px) !important;
        }
        @include media('>=767px', '<890px') {
            height: calc(100vh - 157px) !important;
        }
    }
}