@import "@/assets/scss/function.scss";
.navigation {
    width: 100%;
    >div {
        >a {
            color: $FontColorGray;
            >span {
                color: $FontColorGray;
            }
            &.router-link-exact-active {
                color: $BgColorWhite;
                >span {
                    color: $BgColorWhite;
                }
                &::after {
                    content: '';
                    background-color: $FontColorGreen;
                }
            }
        }
    }
    @media (min-width: 1240px) {
        @include displayflex(column, center, flex-start, unset);
        padding-left: 5px;
        >div {
            @include displayflex(column, flex-start, flex-start, unset);
            width: 100%;
            padding-left: 33px;
            padding-bottom: 40px;
            border-bottom: 1px solid #242936;
            >a {
                @include displayflex(row, center, flex-start, unset);
                width: 100%;
                line-height: 1;
                font-size: 17px;
                &:not(:last-of-type) {
                    margin-bottom: 40px;
                    // >span {
                    //     &:last-of-type {
                    //         font-size: 14px;
                    //     }
                    // }
                }
                >span {
                    &:first-of-type {
                        margin-right: 7px;
                        >svg {
                            fill: $FontColorGray;
                            font-size: 17px;
                        }
                    }
                    &:nth-of-type(2) {
                        margin-right: 5px;
                    }
                }
                &:last-of-type {
                    >span {
                        &:last-of-type {
                            margin-left: auto;
                            margin-right: 19px;
                            >svg {
                                fill: $FontColorGray;
                                font-size: 17px;
                            }
                        }
                    }
                }
                &.router-link-exact-active {
                    &::after {
                        width: 2px;
                        height: 20px;
                        margin-left: auto;
                    }
                    &:last-of-type {
                        &::after {
                            margin-left: 0;
                        }
                        >span {
                            &:last-of-type {
                                margin-right: 17px;
                                >svg {
                                    transform: rotate(180deg)
                                }
                            }
                        }
                    }
                }
            }
            >div {
                @include displayflex(column, flex-start, flex-start, unset);
                margin-top: 38px;
                margin-left: 23px;
                >a {
                    @include displayflex(row, center, flex-start, unset);
                    line-height: 1;
                    &:not(:last-of-type) {
                        margin-bottom: 23px;
                    }
                    &:first-of-type {
                        >svg {
                            transform: rotate(90deg);
                        }
                    }
                    &:last-of-type ::before {
                        @include icon(14px, 14px, 'ico-promotion-off.png');
                        content: '';
                        margin-right: 8px;
                    }
                    &.router-link-exact-active {
                        >* {
                            color: $BgColorWhite;
                        }
                        &:last-of-type ::before {
                            background-image: url(#{$img}/ico-promotion-on.png);
                        }
                    }
                    >svg {
                        color: $FontColorGray;
                        font-size: 15px;
                        margin-right: 8px;
                    }
                    >span {
                        font-size: 15px;
                        color: $FontColorGray;
                    }
                }
            }
        }
    }
    @media (min-width: 640px) and (max-width: 1239px) {
        @include navigation('tab');
    }
    @media (max-width: 639px) {
        @include navigation('mobile');
    }
}