.navigation {
    width: 100%;
    >div {
        >a {
            color: $FontColorGray;
            >span {
                color: $FontColorGray;
            }
            &.active {
                color: $BgColorWhite;
                >span {
                    color: $BgColorWhite;
                }
                &::after {
                    content: '';
                    background-color: $FontColorGreen;
                }
            }
        }
    }
    @include media('>=desktop') {
        @include displayflex(column, center, flex-start, unset);
        padding-left: 5rem;
        >div {
            @include displayflex(column, flex-start, flex-start, unset);
            width: 100%;
            padding-left: 33rem;
            padding-bottom: 40rem;
            border-bottom: 1rem solid $BgColorSidemenuBorder;
            >a {
                @include displayflex(row, center, flex-start, unset);
                width: 100%;
                font-size: 17rem;
                &:not(:last-of-type) {
                    margin-bottom: 40rem;
                }
                >span {
                    &:first-of-type {
                        margin-right: 7rem;
                        >svg {
                            fill: $FontColorGray;
                            font-size: 17rem;
                        }
                    }
                    &:nth-of-type(2) {
                        margin-right: 5rem;
                    }
                }
                &:last-of-type {
                    >span {
                        &:last-of-type {
                            margin-left: auto;
                            margin-right: 19rem;
                            >svg {
                                fill: $FontColorGray;
                                font-size: 17rem;
                            }
                        }
                    }
                }
                &.active {
                    &::after {
                        width: 4rem;
                        height: 20rem;
                        margin-left: auto;
                    }
                    &:last-of-type {
                        &::after {
                            margin-left: 0;
                        }
                        >span {
                            &:last-of-type {
                                margin-right: 17rem;
                                >svg {
                                    transform: rotate(180deg)
                                }
                            }
                        }
                    }
                }
            }
            >div {
                @include displayflex(column, flex-start, flex-start, unset);
                margin-top: 38rem;
                margin-left: 23rem;
                >a {
                    @include displayflex(row, center, flex-start, unset);
                    &:not(:last-of-type) {
                        margin-bottom: 23rem;
                    }
                    &:first-of-type {
                        >svg {
                            transform: rotate(90deg);
                        }
                    }
                    &:last-of-type ::before {
                        @include icon(14rem, 14rem, 'ico-promotion-off.png');
                        content: '';
                        margin-right: 8rem;
                    }
                    &.router-link-exact-active {
                        >* {
                            color: $BgColorWhite;
                        }
                        &:last-of-type ::before {
                            background-image: url(#{$img}/ico-promotion-on.png);
                        }
                    }
                    >svg {
                        color: $FontColorGray;
                        font-size: 15rem;
                        margin-right: 8rem;
                    }
                    >span {
                        font-size: 15rem;
                        color: $FontColorGray;
                    }
                }
            }
        }
    }
    @include media('>=tablet', '<desktop') {
        @include navigation('tab');
    }
    @include media('<tablet') {
        @include navigation('mobile');
    }
}