@import "@/assets/scss/function.scss";
.navigation {
    width: 100%;
    >div {
        >a {
            color: #67686f;
            >span {
                color: #67686f;
            }
            &.router-link-exact-active {
                color: #fff;
                >span {
                    color: #fff;
                }
                &::after {
                    content: '';
                    background-color: #68bb42;
                }
            }
        }
    }
    @media (min-width: 1200px) {
        @include displayflex(column, center, flex-start, unset);
        padding-left: 5px;
        >div {
            @include displayflex(column, flex-start, flex-start, unset);
            width: 100%;
            padding-left: 33px;
            border-bottom: 1px solid #242936;
            >a {
                @include displayflex(row, center, flex-start, unset);
                width: 100%;
                line-height: 1;
                font-size: 17px;
                margin-bottom: 40px;
                >svg {
                    fill: #67686f;
                    &:not(.fa-angle-down) {
                        margin-right: 7px;
                        width: 17px;
                    }
                    &.fa-angle-down {
                        margin-left: auto;
                        margin-right: 19px;
                    }
                }
                &.router-link-exact-active {
                    &::after {
                        width: 2px;
                        height: 20px;
                        margin-left: auto;
                    }
                }
            }
        }
    }
    @media (min-width: 640px) and (max-width: 1199px) {
        @include navigation('tab');
    }
    @media (max-width: 639px) {
        @include navigation('mobile');
    }
}