$interval: (1 auto left, 2 20% right, 3 25% right, 4 20% right);
$grid-template-columns:auto 34% 34%;
$grid-template-areas:( 'item1 item2 item3' 'item1 item2 item4');
table {
    @include list(48rem, $interval, $grid-template-columns, $grid-template-areas) {
        th,
        td {
            &:nth-of-type(2) {
                >span {
                    display: block;
                    &:first-of-type {
                        margin-bottom: 7rem;
                    }
                }
            }
        }
        >thead>tr>th:nth-of-type(2)>span {
            font-size: 14rem;
            font-weight: 500;
        }
        >tbody {
            >tr {
                &.bookmark>td>.col3>dt>svg {
                    color: $FontColorAmountUnit;
                }
                >td {
                    @include media('<=840px') {
                        $fontSize: (1 15rem, 2 15rem, 3 13rem, 4 13rem, 5 13rem);
                        @each $i,
                        $size in $fontSize {
                            &:nth-of-type(#{$i}) {
                                font-size: $size;
                            }
                        }
                    }
                    &:nth-of-type(2) {
                        >span {
                            &:last-of-type {
                                color: $FontColorIvory;
                                font-size: 13rem;
                            }
                        }
                    }
                    >strong {
                        color: $BgColorWhite;
                        vertical-align: middle;
                    }
                    >.col3>dt>svg {
                        font-size: 17rem;
                        font-weight: normal;
                        color: $FontColorGray;
                    }
                    >img {
                        width: 15rem;
                        vertical-align: middle;
                        margin-right: 5rem;
                    }
                }
            }
        }
    }
}