$interval: (1 30% left, 2 15% right, 3 25% right, 4 15% right, 5 15% right);
$grid-template-columns:auto 30% 30%;
$grid-template-areas:( 'item1 item2 item3' 'item1 item4 item5');
table {
    @include list(48rem, $interval, $grid-template-columns, $grid-template-areas) {
        >tbody {
            >tr {
                &.bookmark>td>.col3>dt>svg {
                    color: $FontColorAmountUnit;
                }
                >td {
                    @include media('<=840px') {
                        $fontSize: (1 15rem, 2 15rem, 3 13rem, 4 13rem, 5 13rem);
                        @each $i,
                        $size in $fontSize {
                            &:nth-of-type(#{$i}) {
                                font-size: $size;
                            }
                        }
                    }
                    &:nth-of-type(4) {
                        @include media('<=840px') {
                            color: $FontColorIvory;
                        }
                    }
                    >strong {
                        color: $BgColorWhite;
                        vertical-align: middle;
                    }
                    >.col3>dt>svg {
                        font-size: 17rem;
                        font-weight: normal;
                        color: $FontColorGray;
                    }
                    >img {
                        width: 15rem;
                        vertical-align: middle;
                        margin-right: 5rem;
                    }
                    &:nth-of-type(3) {
                        color: $FontColorGray;
                    }
                }
            }
        }
    }
}