@import "@/assets/scss/function.scss";
.ps {
    @include media('>=desktop') {
        width: 100%;
        height: calc(100vh - 42rem) !important;
        background-color: $BgColorNotFullSection;
        padding: 20rem 50rem;
    }
    @include media('>890rem', '<desktop') {
        width: 100vw;
        height: calc(100vh - 135rem) !important;
        background-color: $BgColorNotFullDiv;
    }
    @include media('>=767rem', '<890rem') {
        width: 100vw;
        height: calc(100vh - 157rem) !important;
        background-color: $BgColorNotFullDiv;
    }
}

.contentsSection {
    width: 100vw;
    background-color: $BgColorNotFullDiv;
}