@import "@/assets/scss/function.scss";
[data-layerPopup^="popupPortFolio"] {
    @include layer(500rem, fixed);
    @include media('<tablet') {
        @include displayflex(column, flex-start, flex-start, unset);
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: auto;
        border-radius: 0;
        padding-bottom: 25rem;
        >button {
            @include displayflex(row, center, center, unset);
            width: 44rem;
            height: 44rem;
            background-color: $BgColorWhite;
            position: absolute;
            top: 0;
            left: 0;
            >span {
                font-size: 0;
            }
            >svg {
                font-size: 15rem;
                color: $BgColorMask;
            }
        }
        >.tit {
            justify-content: center;
            width: 100%;
            height: 45rem;
        }
        >.btnSet {
            margin-top: auto;
        }
    }
    @include media('>=tablet') {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    >article {
        margin-top: 20rem;
        >dl {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-row-gap: 5rem;
            &:not(:last-of-type) {
                >dt {
                    color: $FontColorContent;
                    font-size: 13rem;
                    font-weight: 500;
                    height: 30rem;
                }
                >dd {
                    position: relative;
                    height: 30rem;
                    em {
                        font-style: normal;
                        line-height: 1;
                    }
                    >input[type=date],
                    >input[type=text] {
                        border: 0;
                        padding: 0 10rem;
                        height: 100%;
                        font-size: 13rem;
                        color: $FontColorContent;
                        &::placeholder {
                            color: $FontColorInactive;
                        }
                    }
                    >em {
                        @include displayflex(row, center, center, unset);
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        font-size: 13rem;
                        color: $FontColorContent;
                        padding-right: 10rem;
                        height: 100%;
                        background-color: $BgColorNotFullDiv;
                    }
                    &:not(.full) {
                        @include displayflex(row, center, flex-start, unset);
                        >span {
                            @include displayflex(row, center, flex-start, unset);
                            width: 50rem;
                            height: 100%;
                            font-size: 13rem;
                            color: $FontColorContent;
                            >em {
                                color: $FontColorGreen;
                            }
                        }
                        >input[type=text] {
                            background-color: $BgColorNotFullDiv;
                            width: calc(100% - 50rem);
                        }
                    }
                    &.full {
                        background-color: $BgColorNotFullDiv;
                        >button {
                            @include displayflex(row, center, center, unset);
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 30rem;
                            height: 30rem;
                            >svg {
                                font-size: 10rem;
                                color: $FontColorInactive;
                            }
                            >span {
                                font-size: 0;
                                display: none;
                            }
                        }
                        >input[type=date] {
                            width: 100%;
                            background-color: transparent;
                            &::-webkit-calendar-picker-indicator {
                                outline: 0;
                            }
                        }
                        >input[type=text] {
                            width: 100%;
                            background-color: transparent;
                        }
                    }
                }
            }
            &:last-of-type {
                border-top: 1rem solid #e8e8e8;
                margin-top: 15rem;
                padding-top: 20rem;
                >dt {
                    color: $FontColorGreen;
                    font-size: 15rem;
                    font-weight: 500;
                    line-height: 1;
                }
                >dd {
                    @include displayflex(row, center, flex-end, unset);
                    line-height: 1;
                    >em {
                        line-height: 1;
                        font-style: normal;
                        color: $FontColorGray;
                        font-size: 11rem;
                        vertical-align: top;
                    }
                    >span {
                        line-height: 1;
                        color: $FontColorGreen;
                        font-size: 15rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.mask {
    @include mask;
    z-index: 3;
}