@import "@/assets/scss/function.scss";
section {
    background-color: $BgColorNotFullDiv;
    width: 100%;
    * {
        color: #343434;
    }
    @include media('>=desktop') {
        padding: 50rem 50rem 370rem 50rem;
    }
    @include media('<desktop') {
        padding: 50rem 0;
    }
    >.location {
        @include displayflex(row, center, flex-start, unset);
        @include media('>=desktop') {
            margin-bottom: 26rem;
            >li {
                font-size: 13rem;
            }
        }
        @include media('<desktop') {
            width: calc(100vw - 32rem);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20rem;
            >li {
                font-size: 12rem
            }
        }
        >li {
            @include displayflex(row, center, flex-start, unset);
            color: $FontColorFaq;
            &:not(:first-of-type) {
                margin-left: 10rem;
                &::before {
                    @include icon(5rem, 7rem, 'ico_location_arow.png');
                    content: '';
                    margin-right: 10rem;
                    background-size: 100% auto;
                }
            }
        }
    }
    >.searchSet {
        @include displayflex(row, center, flex-start, unset);
        margin-bottom: 10rem;
        @include media('<desktop') {
            width: calc(100vw - 32rem);
            margin-left: auto;
            margin-right: auto;
        }
        >span {
            @include displayflex(row, center, flex-start, unset);
            margin-left: auto;
            position: relative;
            height: 30rem;
            border-radius: 3rem;
            border: solid 1px #e5e5e5;
            background-color: #ffffff;
            @include media('>=desktop') {
                width: 300rem;
            }
            @include media('<desktop') {
                width: 150rem;
            }
            >button {
                font-size: 0;
                &.btnSearch {
                    @include icon(30rem, 30rem, 'ico_search-gray.png');
                    background-size: 10rem auto;
                }
                &.btnClear {
                    @include icon(30rem, 30rem, 'ico_search_clear-2.png');
                    background-size: 10rem auto;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            >input[type=text] {
                border: 0;
                background-color: transparent;
                width: calc(100% - 30rem);
                height: 30rem;
                font-size: 13rem;
                &::placeholder {
                    color: #999ba4;
                }
            }
        }
    }
    >.titSet {
        @include displayflex(column, flex-start, flex-start, unset);
        padding-bottom: 20rem;
        border-bottom: 1rem solid #e5e5e5;
        >h2 {
            font-size: 30rem;
            font-weight: 500;
            letter-spacing: -0.6rem;
            color: $FontColorTitle;
        }
        >span {
            margin-top: 20rem;
            font-size: 13rem;
            letter-spacing: -0.24rem;
            color: $FontColorFaq;
        }
    }
    >article {
        margin-top: 25rem;
        font-size: 16rem;
        line-height: 1.56;
        letter-spacing: -0.32rem;
        color: #343434;
    }
    >.btnReturn {
        @include displayflex(row, center, center, unset);
        width: 90rem;
        height: 29rem;
        margin-top: 200rem;
        letter-spacing: -0.26rem;
        border-radius: 27rem;
        &:active,
        &:hover {
            background-color: #e5e5e5;
        }
        >svg {
            font-size: 18rem;
            color: $FontColorReturn;
            margin-right: 10rem;
        }
        >span {
            font-size: 13rem;
            color: $FontColorReturn;
        }
    }
}