@import "@/assets/scss/function.scss";
section {
    background-color: $BgColorNotFullDiv;
    width: 100%;
    * {
        color: #343434;
    }
    @include media('>=desktop') {
        padding: 50px 50px 370px 50px;
    }
    @include media('<desktop') {
        padding: 50px 0;
    }
    >.location {
        @include displayflex(row, center, flex-start, unset);
        @include media('>=desktop') {
            margin-bottom: 26px;
            >li {
                font-size: 13px;
            }
        }
        @include media('<desktop') {
            width: calc(100vw - 32px);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            >li {
                font-size: 12px
            }
        }
        >li {
            @include displayflex(row, center, flex-start, unset);
            color: $FontColorFaq;
            line-height: 1;
            &:not(:first-of-type) {
                margin-left: 10px;
                &::before {
                    @include icon(5px, 7px, 'ico_location_arow.png');
                    content: '';
                    margin-right: 10px;
                    background-size: 100% auto;
                }
            }
        }
    }
    >.searchSet {
        @include displayflex(row, center, flex-start, unset);
        margin-bottom: 10px;
        @include media('<desktop') {
            width: calc(100vw - 32px);
            margin-left: auto;
            margin-right: auto;
        }
        >span {
            @include displayflex(row, center, flex-start, unset);
            margin-left: auto;
            position: relative;
            height: 30px;
            border-radius: 3px;
            border: solid 1px #e5e5e5;
            background-color: #ffffff;
            @include media('>=desktop') {
                width: 300px;
            }
            @include media('<desktop') {
                width: 150px;
            }
            >button {
                font-size: 0;
                &.btnSearch {
                    @include icon(30px, 30px, 'ico_search-gray.png');
                    background-size: 10px auto;
                }
                &.btnClear {
                    @include icon(30px, 30px, 'ico_search_clear-2.png');
                    background-size: 10px auto;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            >input[type=text] {
                border: 0;
                background-color: transparent;
                width: calc(100% - 30px);
                height: 30px;
                font-size: 13px;
                &::placeholder {
                    color: #999ba4;
                }
            }
        }
    }
    >.titSet {
        @include displayflex(column, flex-start, flex-start, unset);
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;
        >h2 {
            font-size: 30px;
            font-weight: 500;
            letter-spacing: -0.6px;
            color: $FontColorTitle;
        }
        >span {
            margin-top: 20px;
            font-size: 12px;
            letter-spacing: -0.24px;
            color: $FontColorFaq;
        }
    }
    >article {
        margin-top: 25px;
        font-size: 16px;
        line-height: 1.56;
        letter-spacing: -0.32px;
        color: #343434;
    }
    >.btnReturn {
        @include displayflex(row, center, center, unset);
        width: 90px;
        height: 29px;
        margin-top: 200px;
        line-height: 1;
        letter-spacing: -0.26px;
        border-radius: 27px;
        &:active,
        &:hover {
            background-color: #e5e5e5;
        }
        >svg {
            font-size: 18px;
            color: $FontColorReturn;
            margin-right: 10px;
        }
        >span {
            line-height: 1;
            font-size: 13px;
            color: $FontColorReturn;
        }
    }
}