@import "@/assets/scss/function.scss";
@mixin textAlign {
    $widths: (1 30% left, 2 30% right, 3 40% right);
    @each $name,
    $width,
    $align in $widths {
        &:nth-of-type(#{$name}) {
            width: $width;
            text-align: $align;
            * {
                text-align: $align;
            }
        }
    }
}

table {
    >thead {
        >tr {
            >th {
                @include textAlign;
                position: relative;
                padding: 15px 0;
                text-align: center;
                font-weight: normal;
                >span {
                    @include displayflex(row, center, center, unset);
                    width: fit-content;
                    line-height: 1;
                    color: #67686f;
                    font-size: 13px;
                    >em {
                        font-size: 11px;
                        font-style: normal;
                        color: #67686f;
                        vertical-align: top;
                    }
                }
                &:first-of-type {
                    padding-left: 15px;
                    >span {
                        margin-right: auto;
                        >button {
                            &.btnBookmark {
                                margin-right: 6px;
                                >svg {
                                    font-size: 17px;
                                    color: #67686f;
                                }
                                >span {
                                    font-size: 0
                                }
                                &.active {
                                    >svg {
                                        color: #ffe640;
                                    }
                                }
                            }
                        }
                    }
                }
                &:not(:first-of-type) {
                    >span {
                        margin-left: auto;
                    }
                }
                &:last-of-type {
                    padding-right: 15px;
                }
            }
        }
    }
    >tbody {
        >tr {
            &:not(:last-of-type) {
                >td {
                    border-bottom: 1px solid #1c1e2a;
                }
            }
            &.active {
                >td:first-of-type {
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 5px;
                        height: 100%;
                        background-color: #ffe640;
                    }
                }
            }
            >td {
                @include textAlign;
                padding: 10px 0;
                vertical-align: top;
                &:first-of-type {
                    padding-left: 15px;
                    >img {
                        width: 18px;
                        vertical-align: top;
                    }
                    >strong {
                        font-weight: 500;
                        line-height: 1;
                        font-size: 15px;
                        margin-left: 2px;
                        vertical-align: top;
                    }
                }
                span {
                    position: relative;
                    line-height: 1;
                    letter-spacing: -0.3px;
                    font-size: 15px;
                    font-weight: 200;
                    >em {
                        font-style: normal;
                        font-size: 11px;
                        color: #67686f;
                        vertical-align: top;
                    }
                    >i {
                        color: #ffe640;
                        font-style: normal;
                    }
                    >s {
                        font-style: normal;
                        font-size: 11px;
                        vertical-align: top;
                        text-decoration: none;
                    }
                    &:first-of-type {
                        grid-area: item1;
                    }
                    &:nth-of-type(2) {
                        grid-area: item2;
                    }
                    &:last-of-type {
                        @include displayflex(row, center, flex-end, unset);
                        grid-area: item3;
                        >button {
                            width: 12px;
                            height: 8px;
                            font-size: 0;
                            background-repeat: no-repeat;
                            background-image: url(#{$img}/btn-chart-open.png);
                            background-size: 100% auto;
                            &.up {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
                &:last-of-type {
                    padding-right: 15px;
                    position: relative;
                    position: relative;
                    >p {
                        display: grid;
                        @media (min-width: 841px) {
                            grid-template-columns: auto 30% 20px;
                            grid-template-areas: "item1 item2 item3";
                        }
                        @media (max-width: 840px) {
                            grid-template-columns: auto 20px;
                            grid-template-areas: "item1 item3" "item2 item3";
                            grid-row-gap: 8px;
                        }
                    }
                }
                &.not {
                    text-align: center;
                    color: #454753;
                    font-size: 15px;
                    font-weight: 500;
                    padding: 200px 0;
                }
            }
        }
    }
}