@import "@/assets/scss/function.scss";
$interval: (1 28% left, 2 28% right, 3 28% right, 4 auto right);
$grid-template-columns:30% 35% 35%;
$grid-template-areas:( 'item1 item2 item3' 'item1 item2 item4');
table {
    @include list(63rem, $interval, $grid-template-columns, $grid-template-areas) {
        >tbody {
            >tr {
                @include media('<=840px') {
                    padding-right: 35rem !important;
                }
                >td {
                    .fa-asterisk {
                        font-size: 8rem;
                        vertical-align: middle;
                        &.off {
                            color: $FontColorGray;
                        }
                        &.on {
                            color: $FontColorAmountUnit;
                        }
                    }
                    &:first-of-type {
                        >div {
                            @include media('<=840px') {
                                @include displayflex(row, center, flex-start, unset);
                                >strong {
                                    width: calc(100% - 23rem);
                                    line-height: 20rem;
                                }
                            }
                            >b {
                                font-weight: 500;
                                width: 18rem;
                                display: inline-block;
                            }
                            >img {
                                width: 18rem;
                                vertical-align: top;
                            }
                            >strong {
                                margin-left: 5rem;
                                font-weight: 500;
                                font-size: 15rem;
                                vertical-align: top;
                                &.rise,
                                &.fall {
                                    margin-right: 5rem;
                                }
                            }
                        }
                    }
                    &:nth-of-type(2),
                    &:nth-of-type(3) {
                        padding-right: 20rem;
                        position: relative;
                        >span {
                            position: absolute;
                            right: 0;
                            @include media('<=840px') {
                                top: -4rem;
                            }
                            @include media('>840px') {
                                top: 8rem;
                            }
                        }
                    }
                    &:nth-of-type(4) {
                        position: relative;
                        @include media('>840px') {
                            padding-right: 35rem;
                            >.tdSort {
                                position: absolute;
                                right: 15rem;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                        @include media('<=840px') {
                            padding-right: 20rem;
                            position: initial;
                            font-size: 13rem;
                            color: $FontColorIvory;
                        }
                    }
                }
            }
        }
    }
}

ul {
    padding: 15rem;
    width: 100%;
    >li {
        position: relative;
        font-size: 13rem;
        color: $FontColorGray;
        line-height: 1.23;
        padding-left: 12rem;
        &:not(:first-of-type) {
            margin-top: 8rem;
        }
        >img,
        >svg {
            width: 8rem;
            font-size: 8rem;
            vertical-align: middle;
            position: absolute;
            top: 4rem;
            left: 0;
            &.off {
                color: $FontColorGray;
            }
            &.on {
                color: $FontColorAmountUnit;
            }
        }
    }
}