@import "@/assets/scss/function.scss";
$interval: (1 28% left, 2 28% right, 3 28% right, 4 auto right);
$grid-template-columns:30% 35% 35%;
$grid-template-areas:( 'item1 item2 item3' 'item1 item2 item4');
table {
    @include list(63px, $interval, $grid-template-columns, $grid-template-areas);
    >tbody {
        >tr {
            >td {
                &:first-of-type {
                    >img {
                        width: 18px;
                        vertical-align: top;
                    }
                    >strong {
                        font-weight: 500;
                        line-height: 1;
                        font-size: 15px;
                        margin-left: 2px;
                        vertical-align: top;
                    }
                }
                @media (max-width: 840px) {
                    &:nth-of-type(3),
                    &:nth-of-type(4) {
                        padding-right: 17px;
                    }
                }
            }
        }
    }
}