@import "@/assets/scss/function.scss";
.btnTop {
    font-size: 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: fixed;
    width: 35rem;
    height: 35rem;
    background-image: url(#{$img}/top-btn-2.png);
    @include media('>=desktop') {
        left: calc(100vw - 97rem);
        bottom: 65rem;
    }
    @include media('>=890px', '<desktop') {
        left: calc(100vw - 45rem);
        bottom: 65rem;
    }
    @include media('>=tablet', '<890px') {
        left: calc(100vw - 45rem);
        bottom: 87rem;
    }
    @include media('<tablet') {
        right: 15rem;
        bottom: 15rem;
    }
}