p {
    @include displayflex(row, center, flex-start, unset);
    padding: 0 15rem 14rem 15rem;
    position: relative;
    border-bottom: 1rem solid $BgColorFullBackground;
    &:not(:first-of-type) {
        padding-top: 14rem;
        border-top: 1rem solid $BgColorFullBackground;
    }
    >span {
        font-size: 14rem;
        &:first-of-type {
            margin-right: 23rem;
        }
        &:last-of-type {
            margin-right: auto;
        }
    }
    >button {
        font-size: 20rem;
        color: $FontColorGray;
        >span {
            font-size: 0;
        }
        &:last-of-type {
            margin-left: 20rem;
        }
    }
}

article {
    display: grid;
    grid-template-columns: (100%/3) (100%/3) (100%/3);
    grid-row-gap: 17rem;
    margin-top: 10rem;
    padding: 0 15rem 10rem 15rem;
    position: relative;
    >dl {
        >dt {
            color: $FontColorGray;
            font-size: 15rem;
            font-weight: 300;
            margin-bottom: 10rem;
            text-align: right;
            >em {
                @include symbol {
                    top: 1rem;
                    color: $FontColorGray;
                }
            }
        }
        >dd {
            @include displayflex(row, flex-start, flex-end, unset);
            text-align: right;
            >strong {
                font-weight: 500;
                font-weight: normal;
                @include media('>=tablet') {
                    font-size: 17rem;
                }
                @include media('<tablet') {
                    font-size: 14rem;
                }
                >em {
                    @include symbol {
                        top: 1rem;
                    }
                }
            }
            >span {
                color: $FontColorAmountUnit;
                @include media('>=tablet') {
                    font-size: 17rem;
                }
                @include media('<tablet') {
                    font-size: 14rem;
                }
            }
            >em {
                @include symbol {
                    top: 1rem;
                    color: $FontColorGray;
                }
            }
        }
    }
    >span {
        @include displayflex(row, center, flex-end, unset);
        >button {
            color: $BgColorWhite;
            padding: 6rem 8rem;
            border-radius: 5rem;
            background-color: $FontColorOrange;
            font-weight: 500;
        }
    }
}

.mask {
    @include mask;
}