@import "@/assets/scss/function.scss";
article {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 17rem;
    margin-top: 16rem;
    padding: 0 15rem;
    position: relative;
    >dl {
        >dt {
            color: $FontColorGray;
            font-size: 15rem;
            font-weight: 300;
            margin-bottom: 10rem;
            text-align: right;
            >em {
                @include symbol {
                    top: 1rem;
                    color: $FontColorGray;
                }
            }
        }
        >dd {
            @include displayflex(row, flex-start, flex-end, unset);
            text-align: right;
            >* {}
            >strong {
                font-weight: 500;
                font-weight: normal;
                @include media('>=tablet') {
                    font-size: 17rem;
                }
                @include media('<tablet') {
                    font-size: 14rem;
                }
                >em {
                    @include symbol {
                        top: 1rem;
                    }
                }
            }
            >span {
                color: $FontColorAmountUnit;
                @include media('>=tablet') {
                    font-size: 17rem;
                }
                @include media('<tablet') {
                    font-size: 14rem;
                }
            }
            >em {
                @include symbol {
                    top: 1rem;
                    color: $FontColorGray;
                }
            }
        }
    }
    >span {
        @include displayflex(row, center, flex-end, unset);
        >button {
            color: $BgColorWhite;
            padding: 6rem 8rem;
            border-radius: 5rem;
            background-color: $FontColorOrange;
            font-weight: 500;
        }
    }
}