@import "@/assets/scss/function.scss";
$interval: (1 24% left, 2 25% right, 3 15% right, 4 20% right, 5 16% right);
$grid-template-columns:30% 40% 30%;
$grid-template-areas:( 'item1 item2 item3' 'item1 item4 item5');
table {
    @include list(48rem, $interval, $grid-template-columns, $grid-template-areas) {
        >thead>tr>th {
            padding-top: 0;
        }
        >tbody {
            >tr {
                >td {
                    @include media('<=840px') {
                        >mark {
                            right: calc(30% + 5rem);
                        }
                        &:nth-of-type(4),
                        &:nth-of-type(5) {
                            font-size: 13rem;
                            color: $FontColorIvory;
                        }
                        &:nth-of-type(2),
                        &:nth-of-type(4) {
                            padding-right: 15rem;
                        }
                        &:nth-of-type(3),
                        &:nth-of-type(5) {
                            padding-right: 17rem;
                        }
                    }
                }
            }
        }
    }
}