@import "@/assets/scss/function.scss";
$interval: (1 24% left, 2 25% right, 3 15% right, 4 20% right, 5 16% right);
$grid-template-columns:30% 40% 30%;
$grid-template-areas:( 'item1 item2 item3' 'item1 item4 item5');
table {
    @include list($interval, $grid-template-columns, $grid-template-areas);
    >tbody {
        >tr {
            >td {
                &:nth-of-type(4) {
                    color: #fff0d0;
                }
                @media (max-width: 840px) {
                    >mark {
                        right: calc(30% + 5px);
                    }
                    &:nth-of-type(4),
                    &:nth-of-type(5) {
                        font-size: 14px;
                    }
                    &:nth-of-type(2),
                    &:nth-of-type(4) {
                        padding-right: 15px;
                    }
                    &:nth-of-type(3),
                    &:nth-of-type(5) {
                        padding-right: 17px;
                    }
                }
            }
        }
    }
}