@import "@/assets/scss/function.scss";
table {
    @include table;
    @mixin textAlign {
        $widths: 1 17% left 15px, 2 9% center 15px, 3 12% right 15px, 4 auto right 15px, 5 22% right 13px, 6 21% right 13px;
        @each $name,
        $width,
        $align,
        $size in $widths {
            &:nth-of-type(#{$name}) {
                width: $width;
                text-align: $align;
                font-size: $size;
            }
        }
    }
    >thead>tr>th {
        @include textAlign;
    }
    >tbody>tr>td {
        @include textAlign;
        &:nth-of-type(5),
        &:nth-of-type(6) {
            color: #fff0d0;
        }
    }
}