@import "@/assets/scss/function.scss";
.Portfolio {
    background-color: #13131f;
    padding: 15px;
    >.tab {
        @include displayflex(row, flex-start, flex-start, unset);
        height: 33px;
        border-radius: 5px;
        background-color: #1c1e2a;
        overflow: hidden;
        margin-bottom: 10px;
        >button {
            background-color: transparent;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 500;
            color: #67686f;
            width: (100%/3);
            height: 100%;
            &.active {
                background-color: #242936;
                color: #68bb42;
            }
        }
    }
}