@import "@/assets/scss/function.scss";
.btn_language {
    >button {
        @include language;
        @include displayflex(row, center, flex-start, unset);
        font-weight: 500;
        line-height: 1;
        color: #fff;
        &::before {
            margin-top: 2px;
        }
        @media (min-width: 1200px) {
            font-size: 16px;
        }
        @media (max-width: 1199px) {
            font-size: 14px;
        }
    }
    >.mask {
        @include mask;
    }
    >.layer_lang {
        z-index: 2;
        position: fixed;
        background-color: #fff;
        overflow: hidden;
        border-radius: 10px;
        width: 300px;
        >.tab_btn {
            @include displayflex(row, flex-start, flex-start, unset);
            >button {
                @include displayflex(column, center, center, unset);
                width: (100%/3);
                height: 40px;
                color: #bfbfbf;
                font-size: 13px;
                font-weight: 500;
                border-bottom: 1px solid #e8e8e8;
                &.on {
                    color: #68bb42;
                    border-bottom-color: #68bb42;
                }
            }
        }
        >article {
            padding: 6px 20px;
            >.scarch {
                margin-bottom: 10px;
                position: relative;
                >input[type=text] {
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    border: 0;
                    box-shadow: none;
                    padding: 0 10px 0 25px;
                    font-size: 13px;
                    font-weight: 500;
                    background-color: #f8f8f8;
                    &::placeholder {
                        color: #bfbfbf;
                    }
                }
                >button {
                    font-size: 0;
                    width: 11px;
                    height: 11px;
                    background-color: transparent;
                    border: 0;
                    background-image: url(#{$img}/ico-clear-2.png);
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                }
            }
            >.vuescroll {
                height: 200px !important;
                .currency {
                    @include displayflex(row, flex-start, flex-start, wrap);
                    padding: 10px 0;
                    >button {
                        @include displayflex(row, center, flex-start, unset);
                        @include language;
                        width: (100%/4);
                        font-weight: 500;
                        font-size: 13px;
                        color: #444;
                        &:not(:nth-of-type(-n+4)) {
                            margin-top: 20px;
                        }
                    }
                }
            }
            >.dateFormat {
                @include displayflex(column, flex-start, flex-start, wrap);
                >label {
                    @include displayflex(row, center, flex-start, wrap);
                    width: 100%;
                    font-size: 13px;
                    font-weight: 500;
                    height: 32px;
                    >input[type=radio] {
                        width: 15px;
                        height: 15px;
                        appearance: none;
                        background-image: url(#{$img}/radio-trad-off.png);
                        background-repeat: no-repeat;
                        background-size: 100% auto;
                        margin-right: 10px;
                        &:checked {
                            background-image: url(#{$img}/radio-trad-on.png);
                        }
                    }
                }
            }
        }
        @media (min-width: 1200px) {
            bottom: 53px;
            left: 170px;
        }
        @media (min-width: 641px) and (max-width: 1199px) {
            top: 45px;
            right: 15px;
        }
        @media (max-width: 640px) {
            top: 55px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}