@import "@/assets/scss/function.scss";
button {
    &.btn {
        @include language;
        @include displayflex(row, center, flex-start, unset);
        font-weight: 500;
        color: $BgColorWhite;
        &::before {
            margin-top: 2rem;
        }
        @include media('>=desktop') {
            font-size: 16rem;
        }
        @include media('<desktop') {
            font-size: 14rem;
        }
    }
}

.mask {
    @include mask;
}

[data-layerPopup] {
    @include layer(350rem, absolute);
    >.tab_btn {
        @include displayflex(row, flex-start, flex-start, unset);
        >button {
            @include displayflex(row, center, center, unset);
            width: (100%/3);
            height: 40rem;
            color: $FontColorInactive;
            font-size: 13rem;
            font-weight: 500;
            border-bottom: 1rem solid $BgColorLayerPopupTabActive;
            &.on {
                color: $FontColorGreen;
                border-bottom-color: $FontColorGreen;
            }
        }
    }
    >article {
        padding: 6rem 0;
        margin-bottom: 0;
        >.scarch {
            @include displayflex(row, center, flex-start, unset);
            background-color: $BgColorNotFullDiv;
            margin-bottom: 10rem;
            padding-left: 10rem;
            >input[type=text] {
                width: calc(100% - 30rem);
                height: 30rem;
                line-height: 30rem;
                border: 0;
                box-shadow: none;
                padding: 0;
                color: $FontColorContent;
                font-size: 13rem;
                font-weight: 500;
                background-color: transparent;
                &::placeholder {
                    color: $FontColorInactive;
                }
            }
            >button {
                &.btnDel {
                    font-size: 0;
                    width: 30rem;
                    height: 30rem;
                    background-color: transparent;
                    border: 0;
                    background-image: url(#{$img}/ico-clear-2.png);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 11rem auto;
                }
                &.btnSearch {
                    margin-right: 10rem;
                    >svg {
                        font-size: 15rem;
                        color: $FontColorInactive;
                    }
                    >span {
                        font-size: 0;
                    }
                }
            }
        }
        >.ps {
            height: 200rem !important;
            .currency {
                @include displayflex(row, flex-start, flex-start, wrap);
                padding: 10rem 0;
                >button {
                    @include displayflex(row, center, flex-start, unset);
                    @include language;
                    width: (100%/4);
                    font-weight: 500;
                    font-size: 13rem;
                    color: $FontColorContent;
                    &:not(:nth-of-type(-n+4)) {
                        margin-top: 20rem;
                    }
                }
            }
        }
        >.dateFormat {
            @include displayflex(column, flex-start, flex-start, wrap);
            >label {
                @include displayflex(row, center, flex-start, wrap);
                width: 100%;
                font-size: 13rem;
                font-weight: 500;
                height: 32rem;
                color: $FontColorContent;
                >input[type=radio] {
                    width: 15rem;
                    height: 15rem;
                    appearance: none;
                    background-image: url(#{$img}/radio-trad-off.png);
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    margin-right: 10rem;
                    &:checked {
                        background-image: url(#{$img}/radio-trad-on.png);
                    }
                }
            }
        }
    }
    @include media('>=desktop') {
        bottom: 53rem;
        left: 170rem;
    }
    @include media('>=tablet', '<desktop') {
        top: 45rem;
        right: 15rem;
    }
    @include media('<tablet') {
        top: 55rem;
        left: 50%;
        transform: translateX(-50%);
    }
}