@import "@/assets/scss/function.scss";
button {
    &.btn {
        @include language;
        @include displayflex(row, center, flex-start, unset);
        font-weight: 500;
        line-height: 1;
        color: $BgColorWhite;
        &::before {
            margin-top: 2px;
        }
        @include media('>=desktop') {
            font-size: 16px;
        }
        @include media('<desktop') {
            font-size: 14px;
        }
    }
}

.mask {
    @include mask;
}

[data-layerPopup] {
    @include layer(350px, absolute);
    >.tab_btn {
        @include displayflex(row, flex-start, flex-start, unset);
        >button {
            @include displayflex(row, center, center, unset);
            width: (100%/3);
            height: 40px;
            color: $FontColorInactive;
            font-size: 13px;
            font-weight: 500;
            border-bottom: 1px solid #e8e8e8;
            &.on {
                color: $FontColorGreen;
                border-bottom-color: $FontColorGreen;
            }
        }
    }
    >article {
        padding: 6px 0;
        margin-bottom: 0;
        >.scarch {
            @include displayflex(row, center, flex-start, unset);
            background-color: $BgColorNotFullDiv;
            margin-bottom: 10px;
            padding-left: 10px;
            >input[type=text] {
                width: calc(100% - 30px);
                height: 30px;
                line-height: 30px;
                border: 0;
                box-shadow: none;
                padding: 0;
                color: $FontColorContent;
                font-size: 13px;
                font-weight: 500;
                background-color: transparent;
                &::placeholder {
                    color: $FontColorInactive;
                }
            }
            >button {
                &.btnDel {
                    font-size: 0;
                    width: 30px;
                    height: 30px;
                    background-color: transparent;
                    border: 0;
                    background-image: url(#{$img}/ico-clear-2.png);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 11px auto;
                }
                &.btnSearch {
                    margin-right: 10px;
                    >svg {
                        font-size: 15px;
                        color: $FontColorInactive;
                    }
                    >span {
                        font-size: 0;
                    }
                }
            }
        }
        >.ps {
            height: 200px !important;
            .currency {
                @include displayflex(row, flex-start, flex-start, wrap);
                padding: 10px 0;
                >button {
                    @include displayflex(row, center, flex-start, unset);
                    @include language;
                    width: (100%/4);
                    font-weight: 500;
                    font-size: 13px;
                    color: $FontColorContent;
                    &:not(:nth-of-type(-n+4)) {
                        margin-top: 20px;
                    }
                }
            }
        }
        >.dateFormat {
            @include displayflex(column, flex-start, flex-start, wrap);
            >label {
                @include displayflex(row, center, flex-start, wrap);
                width: 100%;
                font-size: 13px;
                font-weight: 500;
                height: 32px;
                color: $FontColorContent;
                >input[type=radio] {
                    width: 15px;
                    height: 15px;
                    appearance: none;
                    background-image: url(#{$img}/radio-trad-off.png);
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    margin-right: 10px;
                    &:checked {
                        background-image: url(#{$img}/radio-trad-on.png);
                    }
                }
            }
        }
    }
    @include media('>=desktop') {
        bottom: 53px;
        left: 170px;
    }
    @include media('>=tablet', '<desktop') {
        top: 45px;
        right: 15px;
    }
    @include media('<tablet') {
        top: 55px;
        left: 50%;
        transform: translateX(-50%);
    }
}