@import "@/assets/scss/function.scss";
.PortfolioDetail {
    padding: 15rem;
    background-color: $BgColorTotalValue;
    position: relative;
    >.coinName {
        @include displayflex(row, center, flex-start, unset);
        >dl {
            margin-right: auto;
            display: grid;
            grid-column-gap: 10rem;
            grid-row-gap: 10rem;
            grid-template-areas: "dt ddFirst" "dt ddLast";
            >dt {
                @include displayflex(row, center, center, unset);
                color: $FontColorIvory;
                font-size: 12rem;
                line-height: 1;
                grid-area: dt;
                >img {
                    width: 20rem;
                }
            }
            >dd {
                line-height: 1;
                &:first-of-type {
                    @include displayflex(row, flex-start, flex-start, unset);
                    font-size: 15rem;
                    grid-area: ddFirst;
                }
                &:last-of-type {
                    @include displayflex(row, center, flex-start, unset);
                    font-size: 12rem;
                    font-weight: 300;
                    color: $FontColorIvory;
                    grid-area: ddLast;
                }
            }
        }
        >button {
            >span {
                font-size: 0;
            }
            >svg {
                vertical-align: top;
            }
            &:first-of-type {
                width: 16rem;
                height: 16rem;
                background-image: url(#{$img}/ico-memo-off.png);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: 100% auto;
            }
            &:last-of-type {
                font-size: 16rem;
                color: $FontColorGray;
                margin-left: 10rem;
                line-height: 1;
            }
        }
        >.mask {
            @include mask;
        }
    }
    >p {
        text-align: center;
        font-size: 17rem;
        font-weight: 500;
        >em {
            font-size: 11rem;
            font-style: normal;
            color: $BgColorGray;
            vertical-align: top;
        }
    }
    >article {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: 17rem;
        margin-top: 16rem;
        padding-right: 22rem;
        position: relative;
        >button {
            position: absolute;
            top: 30rem;
            right: 0;
            font-size: 0;
            width: 12rem;
            height: 8rem;
            background-image: url(#{$img}/btn-add-show-down.png);
            background-repeat: no-repeat;
            background-size: 12rem auto;
            &.on {
                transform: rotate(180deg);
            }
        }
        >dl {
            >dt {
                line-height: 1;
                color: $FontColorIvory;
                font-size: 15rem;
                font-weight: 300;
                margin-bottom: 10rem;
                text-align: right;
                >em {
                    display: inline-block;
                    font-style: normal;
                    vertical-align: top;
                    font-weight: normal;
                    font-size: 11rem;
                    margin-top: 2rem;
                    color: $FontColorIvory;
                }
            }
            >dd {
                @include displayflex(row, flex-start, flex-end, unset);
                text-align: right;
                line-height: 1;
                >* {
                    line-height: 1;
                }
                >strong {
                    font-weight: 500;
                    @include media('>=tablet') {
                        font-size: 17rem;
                    }
                    @include media('<tablet') {
                        font-size: 14rem;
                    }
                    >em {
                        display: inline-block;
                        font-style: normal;
                        vertical-align: top;
                        font-weight: normal;
                        font-size: 11rem;
                        margin-top: 2rem;
                    }
                }
                >span {
                    color: $FontColorAmountUnit;
                    @include media('>=tablet') {
                        font-size: 17rem;
                    }
                    @include media('<tablet') {
                        font-size: 14rem;
                    }
                }
                >em {
                    font-size: 11rem;
                    font-style: normal;
                    vertical-align: top;
                    color: $FontColorGray;
                }
            }
        }
    }
}