@import "@/assets/scss/function.scss";
$interval: (1 28% left, 2 28% right, 3 28% right, 4 auto right);
$grid-template-columns:30% 35% 35%;
$grid-template-areas:( 'item1 item2 item3' 'item1 item2 item4');
table {
    @include list(63rem, $interval, $grid-template-columns, $grid-template-areas);
    >thead {
        >tr {
            >th {
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    padding-right: 20rem;
                }
            }
        }
    }
    >tbody {
        >tr {
            >td {
                .fa-asterisk {
                    font-size: 8rem;
                    vertical-align: middle;
                    &.off {
                        color: $FontColorGray;
                    }
                    &.on {
                        color: $BgColorWhite;
                    }
                }
                &:first-of-type {
                    >img {
                        width: 18rem;
                        vertical-align: top;
                    }
                    >strong {
                        font-weight: 500;
                        line-height: 1;
                        font-size: 15rem;
                        margin-left: 2rem;
                        vertical-align: top;
                        &.rise,
                        &.fall {
                            margin-right: 5rem;
                        }
                    }
                }
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    padding-right: 20rem;
                    >span {
                        position: absolute;
                        top: 8rem;
                        right: 0;
                    }
                }
                @include media('<=840px') {
                    &:nth-of-type(3),
                    &:nth-of-type(4) {
                        padding-right: 17rem;
                    }
                }
            }
        }
    }
}

ul {
    padding: 15rem;
    width: 100%;
    >li {
        position: relative;
        font-size: 13rem;
        color: $FontColorGray;
        line-height: 1.23;
        padding-left: 12rem;
        &:not(:first-of-type) {
            margin-top: 8rem;
        }
        >img,
        >svg {
            width: 8rem;
            font-size: 8rem;
            vertical-align: middle;
            position: absolute;
            top: 4rem;
            left: 0;
            &.off {
                color: $FontColorGray;
            }
            &.on {
                color: $BgColorWhite;
            }
        }
    }
}