@import "@/assets/scss/function.scss";
[data-layerPopup] {
    @include layer(350rem, fixed);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30rem;
    >.alert {
        @include displayflex(row, center, flex-start, unset);
        font-size: 13rem;
        color: $FontColorGreen;
        padding-left: 30rem;
        margin-bottom: 15rem;
        &::before {
            content: '';
            width: 15rem;
            height: 12rem;
            display: inline-block;
            background-image: url(#{$img}/plus-info-or.png);
            background-repeat: no-repeat;
            background-size: 100% auto;
            margin-right: 5rem;
        }
        &:not(:first-of-type) {
            margin-top: 20rem;
        }
    }
    >article {
        @include displayflex(row, center, space-between, unset);
        margin-top: 16rem;
        >button {
            position: relative;
            padding: 0 14rem;
            height: 35rem;
            border-radius: 3rem;
            background-color: $BgColorPlusSetingCheckOffRadio;
            color: $BgColorWhite;
            font-size: 15rem;
            letter-spacing: -0.3rem;
            &.active {
                background-color: $BgColorPlusSetingCheckOnRadio;
            }
            >span {
                font-size: 12rem;
                position: relative;
                top: -2rem;
            }
        }
    }
}