@import "@/assets/scss/function.scss";
section {
    @media (min-width: 1240px) {
        width: 100%;
        min-height: calc(100vh - 42px);
        background-color: $BgColorNotFullSection;
        padding: 20px 50px;
    }
    >div {
        @media (min-width: 1240px) {
            width: 100%;
            // min-height: calc(100vh - 42px);
            background-color: $BgColorNotFullDiv;
        }
    }
}