@import "@/assets/scss/function.scss";
.mask {
    @include mask;
}

.buySell {
    >.tabs {
        @include displayflex(row, center, space-between, unset);
        margin-top: 14px;
        margin-bottom: 20px;
        padding: 0 39px;
        >li {
            @include displayflex(row, center, center, unset);
            >button {
                &:not(.icoReg) {
                    color: #67686f;
                    font-size: 13px;
                    font-weight: 500;
                    position: relative;
                    line-height: 1;
                    &.active {
                        color: #fff;
                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -5px;
                            width: 100%;
                            height: 1px;
                            background-color: #68bb42;
                        }
                    }
                }
                &.icoReg {
                    font-size: 0;
                    width: 16px;
                    height: 16px;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    background-image: url(#{$img}/buy-add-btn.png);
                    margin-left: 10px
                }
            }
        }
    }
    >p {
        @include displayflex(row, center, flex-start, unset);
        padding-bottom: 18px;
        position: relative;
        &::after {
            content: '';
            width: calc(100% + 30px);
            height: 1px;
            background-color: #1c1e2a;
            position: absolute;
            bottom: 0;
            left: -15px;
        }
        >span {
            font-size: 14px;
            &:first-of-type {
                margin-right: 23px;
            }
            &:last-of-type {
                margin-right: auto;
            }
        }
        >button {
            font-size: 15px;
            color: #67686f;
            line-height: 1;
            >span {
                font-size: 0;
            }
            &:last-of-type {
                margin-left: 10px;
            }
        }
    }
    >article {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: 17px;
        margin-top: 16px;
        padding-right: 22px;
        position: relative;
        >dl {
            >dt {
                line-height: 1;
                color: #67686f;
                font-size: 15px;
                font-weight: 300;
                margin-bottom: 10px;
                text-align: right;
                >em {
                    display: inline-block;
                    font-style: normal;
                    vertical-align: top;
                    font-weight: normal;
                    font-size: 11px;
                    margin-top: 2px;
                    color: #67686f;
                }
            }
            >dd {
                @include displayflex(row, flex-start, flex-end, unset);
                text-align: right;
                line-height: 1;
                >* {
                    line-height: 1;
                }
                >strong {
                    font-weight: 500;
                    font-weight: normal;
                    @media (min-width: 640px) {
                        font-size: 17px;
                    }
                    @media (max-width: 639px) {
                        font-size: 14px;
                    }
                    >em {
                        display: inline-block;
                        font-style: normal;
                        vertical-align: top;
                        font-weight: normal;
                        font-size: 11px;
                        margin-top: 2px;
                    }
                }
                >span {
                    color: #ffe640;
                    @media (min-width: 640px) {
                        font-size: 17px;
                    }
                    @media (max-width: 639px) {
                        font-size: 14px;
                    }
                }
                >em {
                    font-size: 11px;
                    font-style: normal;
                    vertical-align: top;
                    color: #67686f;
                }
            }
        }
        >span {
            @include displayflex(row, center, flex-end, unset);
            >button {
                color: #fff;
                padding: 6px 8px;
                border-radius: 5px;
                background-color: #ec9b2a;
                font-weight: 500;
            }
        }
    }
    >div {
        $interval: (1 17% left, 2 9% right, 3 12% right, 4 19% right, 5 22% right, 6 21% right);
        $grid-template-columns: 29% 15% 28% auto;
        $grid-template-areas: ( 'item1 item2 item3 item4' 'item1 item2 item5 item6');
        >table {
            @include list(0, $interval, $grid-template-columns, $grid-template-areas);
            >tbody {
                >tr {
                    >td {
                        &:nth-of-type(5) {
                            color: #fff0d0;
                        }
                        @media (max-width: 840px) {
                            >mark {
                                right: calc(30% + 5px);
                            }
                            &:nth-of-type(5),
                            &:nth-of-type(6) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}