@import "@/assets/scss/function.scss";
[data-layerPopup] {
    @media (min-width: 640px) {
        @include layer(500px, absolute);
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    @media (max-width: 639px) {
        @include layer(500px, fixed);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100vh;
    }
    >article {
        >.scarch {
            @include displayflex(row, center, flex-start, unset);
            background-color: #f8f8f8;
            margin-bottom: 10px;
            padding-left: 10px;
            >input[type=text] {
                width: calc(100% - 30px);
                height: 30px;
                line-height: 30px;
                border: 0;
                box-shadow: none;
                padding: 0;
                color: #444;
                font-size: 13px;
                font-weight: 500;
                background-color: transparent;
                &::placeholder {
                    color: #bfbfbf;
                }
            }
            >button {
                &.btnDel {
                    font-size: 0;
                    width: 30px;
                    height: 30px;
                    background-color: transparent;
                    border: 0;
                    background-image: url(#{$img}/ico-clear-2.png);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 11px auto;
                }
                &.btnSearch {
                    margin-right: 10px;
                    >svg {
                        font-size: 15px;
                        color: #bfbfbf;
                    }
                    >span {
                        font-size: 0;
                    }
                }
            }
        }
        >.ps {
            height: 400px !important;
            .list {
                padding: 10px 0;
                >a {
                    display: block;
                    padding: 13px 0;
                    color: #444;
                    font-size: 13px;
                    line-height: 1;
                    border-bottom: 1px solid #f8f8f8;
                    >span {
                        color: #6bbd46;
                    }
                }
            }
        }
    }
}