@import "@/assets/scss/function.scss";
.TotalValue {
    padding: 15rem;
    background-color: $BgColorTotalValue;
    border-bottom: 5rem solid $BgColorHeaderFooter;
    >div {
        @include displayflex(row, flex-start, flex-start, unset);
        >h2 {
            font-weight: 500;
            font-size: 18rem;
        }
        >p {
            margin-left: auto;
            text-align: right;
            >em {
                @include symbol {
                    top: 1rem;
                    color: $FontColorGray;
                    margin-right: 3rem;
                }
            }
            >strong {
                font-size: 18rem;
                font-weight: 500;
            }
            >Span {
                display: block;
                font-size: 13rem;
                font-weight: 500;
                color: $FontColorGray;
                text-align: right;
                margin-top: 10rem;
            }
        }
    }
    >article {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: 17rem;
        margin-top: 16rem;
        padding-right: 22rem;
        position: relative;
        >button {
            position: absolute;
            top: 30rem;
            right: 0;
            font-size: 0;
            width: 12rem;
            height: 8rem;
            background-image: url(#{$img}/btn-add-show-down.png);
            background-repeat: no-repeat;
            background-size: 12rem auto;
            &.on {
                transform: rotate(180deg);
            }
        }
        >dl {
            >dt {
                color: $FontColorIvory;
                font-size: 15rem;
                font-weight: 300;
                margin-bottom: 10rem;
                text-align: right;
                >em {
                    @include symbol {
                        top: 1rem;
                        color: $FontColorIvory;
                    }
                }
            }
            >dd {
                @include displayflex(row, flex-start, flex-end, unset);
                text-align: right;
                >strong {
                    font-weight: 500;
                    @include media('>=tablet') {
                        font-size: 17rem;
                    }
                    @include media('<tablet') {
                        font-size: 14rem;
                    }
                    >em {
                        @include symbol {
                            top: 1rem;
                        }
                    }
                }
                >span {
                    color: $FontColorAmountUnit;
                    @include media('>=tablet') {
                        font-size: 17rem;
                    }
                    @include media('<tablet') {
                        font-size: 14rem;
                    }
                }
                >em {
                    @include symbol {
                        top: 1rem;
                        color: $FontColorGray;
                    }
                }
            }
        }
    }
}