@import "@/assets/scss/function.scss";
.TotalValue {
    padding: 15px;
    background-color: $BgColorTotalValue;
    border-bottom: 5px solid $BgColorHeaderFooter;
    // @include media('<tablet') {
    //     position: sticky;
    //     top: 0;
    //     z-index: 2;
    // }
    >div {
        @include displayflex(row, flex-start, flex-start, unset);
        >h2 {
            font-weight: 500;
            font-size: 18px;
            line-height: 1;
        }
        >p {
            line-height: 1;
            margin-left: auto;
            text-align: right;
            >em {
                font-style: normal;
                font-size: 11px;
                line-height: 1;
                color: $FontColorGray;
                vertical-align: top;
                margin-right: 3px;
            }
            >strong {
                line-height: 1;
                font-size: 18px;
                font-weight: 500;
            }
            >Span {
                display: block;
                line-height: 1;
                font-size: 13px;
                font-weight: 500;
                color: $FontColorGray;
                text-align: right;
                margin-top: 10px;
            }
        }
    }
    >article {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row-gap: 17px;
        margin-top: 16px;
        padding-right: 22px;
        position: relative;
        >button {
            position: absolute;
            top: 30px;
            right: 0;
            font-size: 0;
            width: 12px;
            height: 8px;
            background-image: url(#{$img}/btn-add-show-down.png);
            background-repeat: no-repeat;
            background-size: 12px auto;
            &.on {
                transform: rotate(180deg);
            }
        }
        >dl {
            >dt {
                line-height: 1;
                color: $FontColorIvory;
                font-size: 15px;
                font-weight: 300;
                margin-bottom: 10px;
                text-align: right;
                >em {
                    display: inline-block;
                    font-style: normal;
                    vertical-align: top;
                    font-weight: normal;
                    font-size: 11px;
                    margin-top: 2px;
                    color: $FontColorIvory;
                }
            }
            >dd {
                @include displayflex(row, flex-start, flex-end, unset);
                text-align: right;
                line-height: 1;
                >* {
                    line-height: 1;
                }
                >strong {
                    font-weight: 500;
                    @include media('>=tablet') {
                        font-size: 17px;
                    }
                    @include media('<tablet') {
                        font-size: 14px;
                    }
                    >em {
                        display: inline-block;
                        font-style: normal;
                        vertical-align: top;
                        font-weight: normal;
                        font-size: 11px;
                        margin-top: 2px;
                    }
                }
                >span {
                    color: $FontColorAmountUnit;
                    @include media('>=tablet') {
                        font-size: 17px;
                    }
                    @include media('<tablet') {
                        font-size: 14px;
                    }
                }
                >em {
                    font-size: 11px;
                    font-style: normal;
                    vertical-align: top;
                    color: $FontColorGray;
                }
            }
        }
    }
}