@import "@/assets/scss/function.scss";
$interval: (1 28% left, 2 21% right, 3 15% right, 4 20% right, 5 16% right);
$grid-template-columns:auto 20% 20% 25%;
$grid-template-areas:( 'item1 item2 item3 item4' 'item1 item2 item3 item5');
table {
    @include list(0, $interval, $grid-template-columns, $grid-template-areas);
    >tbody {
        >tr {
            >td {
                &:nth-of-type(4) {
                    >img {
                        width: 18rem;
                        vertical-align: top;
                    }
                }
                &:nth-of-type(5) {
                    color: $FontColorIvory;
                }
                @include media('<=840rem') {
                    &:nth-of-type(5) {
                        font-size: 13rem;
                        color: $FontColorIvory;
                    }
                    &:nth-of-type(4),
                    &:nth-of-type(5) {
                        padding-right: 17rem;
                    }
                }
            }
        }
    }
}

p {
    padding: 0 15rem;
    margin-top: 20rem;
    font-size: 13rem;
    color: $FontColorGray;
}