@import "@/assets/scss/function.scss";
$interval: (1 28% left, 2 21% right, 3 15% right, 4 20% right, 5 16% right);
$grid-template-columns:auto 20% 20% 25%;
$grid-template-areas:( 'item1 item2 item3 item4' 'item1 item2 item3 item5');
table {
    @include list(0, $interval, $grid-template-columns, $grid-template-areas);
    >tbody {
        >tr {
            >td {
                &:nth-of-type(4) {
                    >img {
                        width: 18px;
                        vertical-align: top;
                    }
                }
                &:nth-of-type(5) {
                    color: #fff0d0;
                }
                @media (max-width: 840px) {
                    &:nth-of-type(5) {
                        font-size: 13px;
                        color: #fff0d0;
                    }
                    &:nth-of-type(4),
                    &:nth-of-type(5) {
                        padding-right: 17px;
                    }
                }
            }
        }
    }
}

p {
    padding: 0 15px;
    margin-top: 20px;
    font-size: 13px;
    color: #67686f;
}