$interval: (1 auto left, 2 21% right, 3 20% right, 4 30% right);
$grid-template-columns:auto 20% 20% 25%;
$grid-template-areas:( 'item1 item2 item3 item4');
table {
    @include list(0, $interval, $grid-template-columns, $grid-template-areas) {
        @include media('<=840px') {
            >thead>tr {
                grid-row-gap: 0 !important;
            }
        }
        >tbody {
            >tr {
                >td {
                    &:nth-of-type(4) {
                        >span {
                            >img {
                                width: 15rem;
                                vertical-align: top;
                            }
                            >em {
                                @include symbol {
                                    top: 1rem;
                                    color: $FontColorGray;
                                }
                            }
                            @include media('<=840px') {
                                display: block;
                                &:first-of-type {
                                    margin-bottom: 7rem;
                                }
                            }
                        }
                    }
                    @include media('<=840px') {
                        &:nth-of-type(5) {
                            color: $FontColorIvory;
                            font-size: 13rem;
                        }
                    }
                }
            }
        }
    }
}

p {
    width: calc(100% - 36rem);
    position: relative;
    padding: 0 15rem;
    margin-top: 20rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 13rem;
    color: $FontColorGray;
    >img,
    >svg {
        width: 8rem;
        font-size: 8rem;
        vertical-align: middle;
        position: absolute;
        top: 4rem;
        left: 0;
        &.off {
            color: $FontColorGray;
        }
        &.on {
            color: $FontColorAmountUnit;
        }
    }
}