@import "@/assets/scss/function.scss";
$interval: (1 30% left, 2 30% right, 3 10% center, 4 30 right);
$grid-template-columns:auto 30% 10% 30%;
$grid-template-areas:( 'item1 item2 item3 item4');
table {
    @include list(0, $interval, $grid-template-columns, $grid-template-areas);
    >tbody {
        >tr {
            >td {
                >img {
                    width: 18rem;
                    vertical-align: middle;
                    margin-right: 5rem;
                }
                &:nth-of-type(3) {
                    color: $FontColorGray;
                }
            }
        }
    }
}