@import "@/assets/scss/function.scss";
$interval: (1 28% left, 2 21% right, 3 15% right, 4 20% right, 5 16% right);
$grid-template-columns:40% 30% 30%;
$grid-template-areas:( 'item1 item2 item3' 'item1 item4 item5');
table {
    @include list(0, $interval, $grid-template-columns, $grid-template-areas);
    >tbody {
        >tr {
            >td {
                &:last-of-type {
                    cursor: pointer;
                }
                >.marketcap {
                    width: 200rem;
                    text-align: left;
                    background-color: $BgColorWhite;
                    border-radius: 5rem;
                    padding: 10rem;
                    position: absolute;
                    @include media('<=840px') {
                        top: 55rem;
                        right: 10rem;
                    }
                    @include media('>840px') {
                        top: 40rem;
                        right: 0;
                    }
                    z-index: 4;
                    line-height: 1.21;
                    * {
                        line-height: 1.21;
                    }
                    &::after {
                        border-top: 0rem solid transparent;
                        border-left: 5rem solid transparent;
                        border-right: 5rem solid transparent;
                        border-bottom: 5rem solid $BgColorWhite;
                        content: "";
                        position: absolute;
                        top: -5rem;
                        right: 20rem;
                    }
                    >dl {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        >* {
                            font-size: 15rem;
                            color: $FontColorContent;
                        }
                        >dd {
                            text-align: right;
                        }
                    }
                    >p {
                        margin-top: 20rem;
                        >span {
                            color: $FontColorFaq;
                            font-size: 13rem;
                            display: block;
                        }
                        >a {
                            font-size: 14rem;
                            color: #3b33df;
                            text-decoration: underline;
                        }
                    }
                }
                @include media('<=840px') {
                    >mark {
                        right: calc(30% + 5rem);
                    }
                    &:nth-of-type(4),
                    &:nth-of-type(5) {
                        color: $FontColorIvory;
                        font-size: 13rem;
                    }
                    &:nth-of-type(2),
                    &:nth-of-type(4) {
                        padding-right: 15rem;
                    }
                    &:nth-of-type(3),
                    &:nth-of-type(5) {
                        padding-right: 17rem;
                    }
                }
            }
        }
    }
}