@import "@/assets/scss/function.scss";
.tradingview {
    background-color: #171b23;
    margin-top: 4.5px;
    >.btnSet {
        @include displayflex(row, center, flex-start, wrap);
        padding: 0 15px;
        height: 35px;
        >strong {
            font-size: 14px;
            font-weight: 500;
        }
        >label {
            font-size: 12px;
            color: #67686f;
            line-height: 1;
            margin-left: 15px;
            >input[type=radio] {
                width: 12px;
                height: 12px;
                appearance: none;
                background-image: url(#{$img}/radio-trad2-off.png);
                background-repeat: no-repeat;
                background-size: 100% auto;
                margin-right: 5px;
                &:checked {
                    background-image: url(#{$img}/radio-trad2-on.png);
                }
            }
        }
        >button {
            font-size: 14px;
            font-weight: normal;
            color: #67686f;
            margin-left: 10px;
            &.add {
                font-size: 0;
                width: 17px;
                height: 15px;
                background-image: url(#{$img}/btn-tradingview-indi.png);
                background-repeat: no-repeat;
                background-size: 100% auto;
            }
            &.fullscrean {
                font-size: 0;
                width: 13px;
                height: 13px;
                background-image: url(#{$img}/btn-tradingview-big.png);
                background-repeat: no-repeat;
                background-size: 100% auto;
            }
        }
        >span {
            margin-left: auto;
            font-size: 10px;
            color: #67686f;
        }
    }
    >.chart {
        height: 240px;
    }
}