@import "@/assets/scss/function.scss";
[data-layerPopup] {
    @include layer(500rem, fixed);
    min-height: 510rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    >.tit {
        >img {
            width: 17rem;
            margin-right: 3rem;
        }
        >span {
            @include displayflex(row, center, flex-start, unset);
            font-size: 11rem;
            color: $FontColorFaq;
            position: relative;
            margin-left: 8rem;
            &::before {
                content: '';
                display: inline-block;
                width: 1px;
                height: 10rem;
                margin-right: 8rem;
                background-color: $BgColorLayerPopupTabActive;
            }
        }
    }
    >textarea {
        background-color: $BgColorNotFullDiv;
        margin: 0 20rem 30rem 20rem;
        width: calc(100% - 40rem);
        height: 348rem;
        border: 0;
        padding: 20rem;
        line-height: 150%;
        &::placeholder {
            color: $FontColorInactive;
            font-size: 12rem;
            font-weight: 500;
            margin-top: 11rem;
        }
    }
    >article {
        @include displayflex(column, center, center, unset);
        background-color: $BgColorNotFullDiv;
        height: 348rem;
        >svg {
            font-size: 37rem;
            color: $FontColorInactive;
        }
        >p {
            color: $FontColorInactive;
            font-size: 12rem;
            font-weight: 500;
            margin-top: 11rem;
        }
    }
}