[data-layerPopup] {
    @include layer(500rem, fixed);
    min-height: 510rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    >.tit {
        >img {
            width: 17rem;
            margin-right: 3rem;
        }
        >span {
            @include displayflex(row, center, flex-start, unset);
            font-size: 13rem;
            color: $FontColorFaq;
            position: relative;
            margin-left: 8rem;
            &::before {
                content: '';
                display: inline-block;
                width: 1px;
                height: 10rem;
                margin-right: 8rem;
                background-color: $BgColorLayerPopupTabActive;
            }
        }
        >strong {
            font-weight: 500;
        }
    }
    >article {
        background-color: $BgColorNotFullDiv;
        position: relative;
        >svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 37rem;
            color: $FontColorInactive;
        }
        >textarea {
            background-color: transparent;
            width: calc(100% - 40rem);
            height: 346rem;
            border: 0;
            padding: 20rem;
            line-height: 150%;
            position: relative;
            font-size: 13rem;
            &::placeholder {
                color: $FontColorInactive;
                font-weight: 500;
                text-align: center;
                padding-top: 52%;
            }
        }
    }
}