.PortfolioDetail {
    padding: 15rem;
    background-color: $BgColorTotalValue;
    position: relative;
    border-bottom: 5px solid $BgColorFullBackground;
    >.coinName {
        @include displayflex(row, center, flex-start, unset);
        >dl {
            margin-right: auto;
            display: grid;
            grid-column-gap: 10rem;
            grid-row-gap: 10rem;
            grid-template-areas: "dt ddFirst" "dt ddLast";
            >dt {
                @include displayflex(row, center, center, unset);
                color: $FontColorIvory;
                font-size: 13rem;
                grid-area: dt;
                >img {
                    width: 20rem;
                    &:last-of-type {
                        margin-left: -5rem;
                        margin-right: 5rem;
                    }
                }
                >button {
                    margin-right: 10rem;
                    &.btnBookmark {
                        >svg {
                            font-size: 20rem;
                            color: $FontColorGray;
                        }
                        >span {
                            font-size: 0
                        }
                        &.active {
                            >svg {
                                color: $FontColorAmountUnit;
                            }
                        }
                    }
                }
            }
            >dd {
                &:first-of-type {
                    @include displayflex(row, flex-start, flex-start, unset);
                    font-size: 15rem;
                    font-weight: 500;
                    grid-area: ddFirst;
                }
                &:last-of-type {
                    @include displayflex(row, center, flex-start, unset);
                    font-size: 13rem;
                    font-weight: 300;
                    color: $FontColorIvory;
                    grid-area: ddLast;
                }
            }
        }
    }
    >p {
        margin-top: 13rem;
        font-size: 13rem;
        >a {
            color: $FontColorIvory;
        }
    }
}