@import "@/assets/scss/function.scss";
.header {
    width: 100%;
    position: relative;
    >h1 {
        >a {
            font-size: 0;
            background-image: url(#{$img}/logo.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 100% auto;
            display: block;
        }
        >span {
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
        }
    }
    >button {
        @include displayflex(column, center, space-between, unset);
        font-size: 16px;
        color: $BgColorWhite;
    }
    @include media('>=desktop') {
        margin-bottom: 63px;
        padding-top: 68px;
        >h1 {
            margin-left: 40px;
            >a {
                width: 110px;
                height: 32px;
            }
        }
        >button {
            position: absolute;
            top: 10px;
            left: 16px;
        }
    }
    @include media('<desktop') {
        @include displayflex(row, center, center, unset);
        height: 46px;
        border-bottom: 1px solid #242936;
        >h1 {
            @include displayflex(row, center, center, unset);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            >a {
                width: 70px;
                height: 20px;
            }
        }
        >button {
            margin-right: auto;
            margin-left: 15px;
        }
        >div {
            @include displayflex(row, center, flex-start, unset);
            margin-right: 15px;
            margin-left: auto;
        }
    }
}

@include media('>=tablet') {
    .mask {
        @include mask;
    }
}