@import "@/assets/scss/function.scss";
.header {
    width: 100%;
    position: relative;
    >h1 {
        >a {
            font-size: 0;
            background-image: url(#{$img}/logo.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 100% auto;
            display: block;
        }
        >span {
            font-size: 16rem;
            font-weight: 500;
        }
    }
    >button {
        @include displayflex(column, center, space-between, unset);
        font-size: 16rem;
        color: $BgColorWhite;
    }
    @include media('>=desktop') {
        margin-bottom: 63rem;
        padding-top: 68rem;
        >h1 {
            margin-left: 40rem;
            >a {
                width: 110rem;
                height: 32rem;
            }
        }
        >button {
            position: absolute;
            top: 10rem;
            left: 16rem;
        }
    }
    @include media('<desktop') {
        @include displayflex(row, center, center, unset);
        height: 46rem;
        border-bottom: 1rem solid $BgColorSidemenuBorder;
        >h1 {
            @include displayflex(row, center, center, unset);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            >a {
                width: 70rem;
                height: 20rem;
            }
        }
        >button {
            margin-right: auto;
            margin-left: 15rem;
        }
        >div {
            @include displayflex(row, center, flex-start, unset);
            margin-right: 15rem;
            margin-left: auto;
        }
    }
}

@include media('>=tablet') {
    .mask {
        @include mask;
    }
}