@import "@/assets/scss/function.scss";
[data-layerPopup^="popupSelectCoinWhereWallet"] {
    @include layer(500px, fixed);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    >button {
        margin: 0 auto;
        width: calc(100% - 40px);
        border-radius: 2px;
        background-color: #dddddd;
        height: 45px;
        color: #999999;
        font-size: 14px;
    }
    >.tabs {
        @include displayflex(row, flex-start, flex-start, unset);
        margin-bottom: 20px;
        >button {
            @include displayflex(row, center, center, unset);
            width: (100%/2);
            height: 40px;
            color: #bfbfbf;
            font-size: 13px;
            font-weight: 500;
            border-bottom: 1px solid #e8e8e8;
            &.on {
                color: #68bb42;
                border-bottom-color: #68bb42;
            }
        }
    }
    >article {
        >.scarch {
            @include displayflex(row, center, flex-start, unset);
            background-color: #f8f8f8;
            margin-bottom: 10px;
            padding-left: 10px;
            >input[type=text] {
                width: calc(100% - 30px);
                height: 30px;
                line-height: 30px;
                border: 0;
                box-shadow: none;
                padding: 0;
                color: #444;
                font-size: 13px;
                font-weight: 500;
                background-color: transparent;
                &::placeholder {
                    color: #bfbfbf;
                }
            }
            >button {
                &.btnDel {
                    font-size: 0;
                    width: 30px;
                    height: 30px;
                    background-color: transparent;
                    border: 0;
                    background-image: url(#{$img}/ico-clear-2.png);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 11px auto;
                }
                &.btnSearch {
                    margin-right: 10px;
                    >svg {
                        font-size: 15px;
                        color: #bfbfbf;
                    }
                    >span {
                        font-size: 0;
                    }
                }
            }
        }
        >.noData {
            text-align: center;
            padding: 90px 0;
            font-size: 14px;
            color: #bfbfbf;
        }
        >.ps {
            height: 200px !important;
            .list {
                padding: 10px 0;
                >a {
                    display: block;
                    padding: 13px 0;
                    color: #444;
                    font-size: 13px;
                    line-height: 1;
                    border-bottom: 1px solid #f8f8f8;
                    >span {
                        color: #6bbd46;
                    }
                }
            }
        }
    }
}