@import "@/assets/scss/function.scss";
.ps {
    @include media('>=desktop') {
        width: 100%;
        height: calc(100vh - 42px) !important;
        background-color: $BgColorNotFullSection;
        padding: 20px 50px;
    }
    @include media('>890px', '<desktop') {
        width: 100vw;
        height: calc(100vh - 135px) !important;
        background-color: $BgColorNotFullDiv;
    }
    @include media('>=767px', '<890px') {
        width: 100vw;
        height: calc(100vh - 157px) !important;
        background-color: $BgColorNotFullDiv;
    }
}

.contentsSection {
    width: 100vw;
    background-color: $BgColorNotFullDiv;
}