@import "@/assets/scss/function.scss";
$interval: (1 20% left, 2 20% right, 3 20% right, 4 auto right);
$grid-template-columns:30% 35% 35%;
$grid-template-areas:( 'item1 item2 item3' 'item1 item2 item4');
table {
    @include list(0, $interval, $grid-template-columns, $grid-template-areas) {
        >tbody {
            >tr {
                >td {
                    @include media('<=840px') {
                        &:nth-of-type(3),
                        &:nth-of-type(4) {
                            padding-right: 17rem;
                        }
                    }
                }
            }
        }
    }
}