button {
    &.btn {
        color: $BgColorWhite;
        &::before {
            content: '';
            display: inline-block;
            width: 22rem;
            height: 16rem;
            background-image: url(#{$img}/btn_upload.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 100% auto;
        }
        @include media('>=desktop') {
            @include displayflex(row, center, flex-start, unset);
            font-size: 16rem;
            font-weight: 500;
            &::before {
                margin-right: 8rem;
            }
        }
        @include media('<desktop') {
            margin-left: 15rem;
            width: 22rem;
            height: 16rem;
            font-size: 0;
        }
    }
}

.mask {
    @include mask;
}

[data-layerPopup] {
    @include layer(350rem, absolute);
    >.tab_btn {
        @include displayflex(row, flex-start, flex-start, unset);
        >button {
            @include displayflex(row, center, center, unset);
            width: (100%/2);
            height: 40rem;
            color: $FontColorInactive;
            font-size: 13rem;
            font-weight: 500;
            border-bottom: 1rem solid $BgColorLayerPopupTabActive;
            &::before {
                content: '';
                width: 15rem;
                height: 16rem;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: 100% auto;
                margin-right: 8rem;
            }
            &:first-of-type::before {
                background-image: url(#{$img}/ico-down-off.png);
            }
            &:last-of-type::before {
                background-image: url(#{$img}/ico-up-off.png);
            }
            &.on {
                color: $FontColorGreen;
                border-bottom-color: $FontColorGreen;
                &:first-of-type::before {
                    background-image: url(#{$img}/ico-down.png);
                }
                &:last-of-type::before {
                    background-image: url(#{$img}/ico-up.png);
                }
            }
        }
    }
    >article {
        padding-top: 10rem;
        margin-bottom: 0;
        >p {
            background-color: $BgColorNotFullDiv;
            padding: 10rem;
            color: $FontColorFaq;
            font-size: 12rem;
            text-align: center;
            >span {
                color: #ff2828;
            }
        }
        >div {
            @include displayflex(row, flex-start, flex-start, unset);
            margin-top: 10rem;
            >button {
                @include displayflex(row, center, center, unset);
                width: 50%;
                height: 66rem;
                padding-top: 44rem;
                text-align: center;
                background-repeat: no-repeat;
                background-size: 33rem auto;
                background-position: 50% 0;
                font-size: 12rem;
                color: $FontColorContent;
                &::before {
                    @include displayflex(row, center, center, unset);
                    content: 'From';
                    width: 40rem;
                    height: 22rem;
                    border-radius: 2rem;
                    background-color: $FontColorGreen;
                    color: $BgColorWhite;
                    font-size: 10rem;
                    font-weight: 500;
                    margin-right: 4rem;
                }
                &:first-of-type {
                    border-right: 1rem solid $BgColorLayerPopupTabActive;
                    background-image: url(#{$img}/mycom.png);
                }
                &:last-of-type {
                    background-image: url(#{$img}/google.png);
                }
            }
        }
    }
    @include media('>=desktop') {
        bottom: 53rem;
        left: 250rem;
    }
    @include media('>=tablet', '<desktop') {
        top: 45rem;
        right: 15rem;
    }
    @include media('<tablet') {
        top: 55rem;
        left: 50%;
        transform: translateX(-50%);
    }
}