@import "@/assets/scss/function.scss";
button {
    &.btn {
        color: $BgColorWhite;
        &::before {
            content: '';
            display: inline-block;
            width: 22px;
            height: 16px;
            background-image: url(#{$img}/btn_upload.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 100% auto;
        }
        @media (min-width: 1240px) {
            @include displayflex(row, center, flex-start, unset);
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            &::before {
                margin-right: 8px;
            }
        }
        @media (max-width: 1239px) {
            margin-left: 15px;
            width: 22px;
            height: 16px;
            font-size: 0;
        }
    }
}

.mask {
    @include mask;
}

[data-layerPopup] {
    @include layer(350px, absolute);
    >.tab_btn {
        @include displayflex(row, flex-start, flex-start, unset);
        >button {
            @include displayflex(row, center, center, unset);
            width: (100%/2);
            height: 40px;
            color: $FontColorInactive;
            font-size: 13px;
            font-weight: 500;
            border-bottom: 1px solid #e8e8e8;
            &::before {
                content: '';
                width: 15px;
                height: 16px;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: 100% auto;
                margin-right: 8px;
            }
            &:first-of-type::before {
                background-image: url(#{$img}/ico-down-off.png);
            }
            &:last-of-type::before {
                background-image: url(#{$img}/ico-up-off.png);
            }
            &.on {
                color: $FontColorGreen;
                border-bottom-color: $FontColorGreen;
                &:first-of-type::before {
                    background-image: url(#{$img}/ico-down.png);
                }
                &:last-of-type::before {
                    background-image: url(#{$img}/ico-up.png);
                }
            }
        }
    }
    >article {
        padding-top: 10px;
        margin-bottom: 0;
        >p {
            background-color: $BgColorNotFullDiv;
            padding: 10px;
            color: $FontColorFaq;
            font-size: 12px;
            text-align: center;
            >span {
                color: #ff2828;
            }
        }
        >div {
            @include displayflex(row, flex-start, flex-start, unset);
            margin-top: 10px;
            >button {
                @include displayflex(row, center, center, unset);
                width: 50%;
                height: 66px;
                padding-top: 44px;
                text-align: center;
                background-repeat: no-repeat;
                background-size: 33px auto;
                background-position: 50% 0;
                font-size: 12px;
                color: $FontColorContent;
                &::before {
                    @include displayflex(row, center, center, unset);
                    content: 'From';
                    width: 40px;
                    height: 22px;
                    border-radius: 2px;
                    background-color: $FontColorGreen;
                    color: $BgColorWhite;
                    font-size: 10px;
                    font-weight: 500;
                    margin-right: 4px;
                }
                &:first-of-type {
                    border-right: 1px solid #e8e8e8;
                    background-image: url(#{$img}/mycom.png);
                }
                &:last-of-type {
                    background-image: url(#{$img}/google.png);
                }
            }
        }
    }
    @media (min-width: 1240px) {
        bottom: 53px;
        left: 170px;
    }
    @media (min-width: 640px) and (max-width: 1239px) {
        top: 45px;
        right: 15px;
    }
    @media (max-width: 639px) {
        top: 55px;
        left: 50%;
        transform: translateX(-50%);
    }
}