@import "@/assets/scss/function.scss";
aside {
    z-index: 9;
    @include media('>=tablet') {
        position: absolute;
        top: 45rem;
        left: 15rem;
        width: 200rem;
        background-color: $BgColorWhite;
        border-radius: 10rem;
        overflow: hidden;
        transform: scale(1);
        &.hide {
            transform: scale(0);
        }
        >.body {
            >a {
                @include displayflex(row, center, flex-start, unset);
                font-size: 13rem;
                font-weight: 500;
                color: $FontColorContent;
                padding-left: 45rem;
                height: 40rem;
                &:hover {
                    background-color: $BgColorLayerPopupTabActive;
                }
            }
        }
    }
    @include media('<tablet') {
        transition: all 0.3s ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: $moAside;
        height: auto;
        &::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: $BgColorMask;
            opacity: 0.5;
            z-index: -1;
        }
        >.header {
            @include displayflex(row, center, flex-start, unset);
            background-color: $BgColorSidemenuBorder;
            height: 78rem;
            padding-left: 20rem;
            position: relative;
            &::before {
                content: '';
                display: inline-block;
                width: 88.5rem;
                height: 36rem;
                background-image: url(#{$img}/aside_logo.png);
                background-repeat: no-repeat;
                background-size: 100% auto;
            }
            >button {
                position: absolute;
                top: 18rem;
                right: 23rem;
                font-size: 0;
                width: 16rem;
                height: 16rem;
                background-image: url(#{$img}/ico_close.png);
                background-size: 100% auto;
                transform: rotate(720deg);
                transition: all 0.3s ease-in-out;
            }
        }
        >.body {
            background-color: $BgColorNotFullDiv;
            height: calc(100vh - 123rem);
            overflow-y: auto;
            padding-left: 20rem;
            >a {
                height: 45rem;
                font-size: 14rem;
                font-weight: 500;
                color: $FontColorContent;
            }
        }
        >.footer {
            @include displayflex(row, center, center, unset);
            background-color: $BgColorLayerPopupButton;
            height: 45rem;
            font-size: 10rem;
            color: $FontColorFaq;
        }
        &.hide {
            left: -$moAside;
            &::before {
                display: none;
            }
            >.header {
                >button {
                    transform: rotate(-720deg);
                }
            }
        }
    }
    >.body {
        >a {
            @include displayflex(row, center, flex-start, unset);
            width: 100%;
            &.new {
                &::after {
                    content: '';
                    width: 15rem;
                    height: 15rem;
                    background-repeat: no-repeat;
                    background-image: url(#{$img}/ico_new.png);
                    background-size: 100% auto;
                    margin-left: 6rem;
                }
            }
        }
    }
}