.advertisement {
    width: 100%;
    background-color: #1b1e25;
    text-align: center;
    @media (min-width: 737px) {
        height: 150px;
        >img {
            width: 100%;
            height: 150px;
        }
    }
    @media (max-width: 736px) {
        height: 100px;
        >img {
            width: 100%;
            height: 100px;
        }
    }
}