.advertisement {
    width: 100%;
    background-color: #1b1e25;
    text-align: center;
    @media (min-width: 640px) {
        height: 150px;
    }
    @media (max-width: 639px) {
        height: 100px;
    }
}