.PortfolioDetail {
    padding: 15rem;
    background-color: $BgColorTotalValue;
    position: relative;
    border-bottom: 5px solid $BgColorFullBackground;
    >.coinName {
        >dl {
            @include displayflex(row, center, flex-start, unset);
            width: 100%;
            >dt {
                @include displayflex(row, center, center, unset);
                color: $FontColorIvory;
                font-size: 13rem;
                >img {
                    width: 20rem;
                }
                >button {
                    margin-right: 10rem;
                    &.btnBookmark {
                        >svg {
                            font-size: 20rem;
                            color: $FontColorGray;
                        }
                        >span {
                            font-size: 0
                        }
                        &.active {
                            >svg {
                                color: $FontColorAmountUnit;
                            }
                        }
                    }
                }
            }
            >dd {
                margin-left: 10rem;
                font-size: 15rem;
                font-weight: 500;
            }
        }
    }
    >p {
        margin-top: 13rem;
        font-size: 13rem;
        >a {
            color: $FontColorIvory;
        }
    }
}