.mask {
    @include mask;
}

.buySell {
    >.tabs {
        @include displayflex(row, center, space-between, unset);
        @include sticky(48rem);
        padding-top: 20rem;
        padding-bottom: 20rem;
        background-color: $BgColorTable;
        >li {
            @include displayflex(row, center, center, unset);
            width: (100% / 3);
            >button {
                &:not(.icoReg) {
                    color: $FontColorGray;
                    font-size: 13rem;
                    font-weight: 500;
                    position: relative;
                    &.active {
                        color: $BgColorWhite;
                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -5rem;
                            width: 100%;
                            height: 1px;
                            background-color: $FontColorGreen;
                        }
                    }
                }
                &.icoReg {
                    font-size: 0;
                    @include media('>=tablet') {
                        width: 16rem;
                        height: 16rem;
                        background-repeat: no-repeat;
                        background-size: 100% auto;
                        background-image: url(#{$img}/buy-add-btn.png);
                        margin-left: 10rem;
                    }
                    @include media('<tablet') {
                        background-size: 100% auto;
                        background-repeat: no-repeat;
                        position: fixed;
                        transition: all 0.3s ease-in-out;
                        width: 75rem;
                        height: 75rem;
                        background-image: url(#{$img}/btn_rg.png);
                        left: 0;
                        bottom: -12rem;
                    }
                }
            }
        }
    }
}