@import "@/assets/scss/function.scss";
@mixin textAlign {
    &:nth-of-type(3) {
        >p {
            display: grid;
        }
    }
    @media (min-width: 841px) {
        $widths: 1 17% left, 2 9% center, 3 74% right;
        @each $name,
        $width,
        $align in $widths {
            &:nth-of-type(#{$name}) {
                width: $width;
                text-align: $align;
            }
        }
        &:nth-of-type(3) {
            >p {
                grid-template-columns: 17% 25% 29% 29%;
            }
        }
    }
    @media (max-width: 840px) {
        $widths: 1 29% left, 2 15% center, 3 56% right;
        @each $name,
        $width,
        $align in $widths {
            &:nth-of-type(#{$name}) {
                width: $width;
                text-align: $align;
            }
        }
        &:nth-of-type(3) {
            >p {
                grid-template-columns: 50% 50%;
                grid-row-gap: 8px;
            }
        }
    }
}

.buySell {
    >table {
        >thead {
            >tr {
                >th {
                    @include textAlign;
                    position: relative;
                    padding: 15px 0;
                    font-size: 14px;
                    color: #67686f;
                    font-weight: 500;
                    line-height: 1;
                    text-align: center;
                    >span,
                    >p>span {
                        color: #67686f;
                        display: inline-block;
                        letter-spacing: -0.3px;
                    }
                    >button {
                        @include displayflex(row, center, center, unset);
                        background-color: transparent;
                        font-size: 14px;
                        color: #67686f;
                        line-height: 1;
                        &::after {
                            content: '';
                            display: inline-block;
                            width: 11px;
                            height: 7.5px;
                            background-repeat: no-repeat;
                            background-image: url(#{$img}/select-arrow.png);
                            background-size: 100% auto;
                            margin-left: 2.5px;
                            transform: rotate(180deg);
                        }
                        &.active::after {
                            transform: rotate(0);
                        }
                    }
                    >div {
                        position: absolute;
                        top: 40px;
                        right: 0;
                        background-color: #242936;
                        width: 50px;
                        >button {
                            display: block;
                            width: 100%;
                            line-height: 1;
                            text-align: center;
                            padding: 8px 0;
                            color: #62636b;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        >tbody {
            >tr {
                &:not(:last-of-type) {
                    >td {
                        border-bottom: 1px solid #1c1e2a;
                    }
                }
                >td {
                    @include textAlign;
                    padding: 15px 0;
                    >span,
                    >p>span {
                        line-height: 1;
                        letter-spacing: -0.3px;
                        font-size: 15px;
                        font-weight: 200;
                        display: inline-block;
                        &:nth-of-type(3),
                        &:nth-of-type(4) {
                            color: #fff0d0;
                            font-size: 14px;
                        }
                        >em {
                            font-style: normal;
                            font-size: 11px;
                            color: #67686f;
                            vertical-align: top;
                        }
                        >i {
                            color: #ffe640;
                            font-style: normal;
                        }
                    }
                    &.not {
                        text-align: center;
                        color: #454753;
                        font-size: 15px;
                        font-weight: 500;
                        padding: 200px 0;
                    }
                }
            }
        }
    }
}