@import "@/assets/scss/function.scss";
.pagenation {
    @include displayflex(row, center, center, unset);
    margin-top: 65rem;
    >* {
        @include displayflex(row, center, center, unset);
        width: 30rem;
        height: 30rem;
        border-radius: 30rem;
        font-size: 12rem;
        &:not(:first-child) {
            margin-left: 4rem;
        }
    }
    >span {
        background-color: #68bb42;
        color: $BgColorWhite;
    }
    >a {
        color: $FontColorReturn;
        >svg {
            color: $FontColorReturn;
        }
        &:active,
        &:hover {
            background-color: #e5e5e5;
        }
    }
}