footer {
    @include displayflex(row, center, flex-start, wrap);
    width: 100%;
    margin-top: auto;
    background-color: $BgColorHeaderFooter;
    @include media('>=tablet') {
        padding: 15rem 55rem;
    }
    @include media('<tablet') {
        display: none;
    }
    >div {
        @include media('>890px') {
            @include displayflex(row, center, flex-start, unset);
            margin-right: auto;
            height: 100%;
        }
        @include media('<=890px') {
            @include displayflex(row, center, center, unset);
            width: 100%;
        }
        >a {
            &:not(:first-of-type) {
                margin-left: 23rem;
            }
            color: $FontColorGray;
            font-size: 12rem;
            &:hover {
                color: $BgColorWhite;
            }
        }
    }
    >p {
        @include media('>890px') {
            @include displayflex(row, center, flex-start, unset);
            height: 100%;
        }
        @include media('<=890px') {
            @include displayflex(row, center, center, unset);
            width: 100%;
            margin-top: 10rem;
        }
        margin-left: auto;
        font-size: 12rem;
        color: $FontColorGray;
    }
}