@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import "@/assets/scss/function.scss";
#mycoinp {
    width: 100%;
    min-height: 100vh;
    >#container {
        @include displayflex(column, flex-start, flex-start, unset);
    }
    @include media('>=desktop') {
        $header: 200rem;
        display: grid;
        grid-template-columns: 200rem auto;
        >header {
            @include displayflex(column, flex-start, flex-start, unset);
            min-height: 100vh;
            background-color: $BgColorTable;
            >.btnSet {
                @include displayflex(column, center, center, unset);
                margin-top: auto;
                margin-bottom: 30rem;
                padding: 0 6rem;
                width: 100%;
                >i {
                    width: 100%;
                    height: 1px;
                    display: block;
                    background-color: #212531;
                    margin: 15rem 0;
                    font-style: normal;
                }
            }
        }
    }
    @include media('>=tablet', '<desktop') {
        display: grid;
        grid-template-rows: 93rem auto;
        >header {
            background-color: $BgColorHeaderFooter;
        }
    }
    @include media('<tablet') {
        overflow-x: hidden;
        >header {
            background-color: $BgColorHeaderFooter;
            width: 100%;
        }
        >#container {
            position: relative;
            height: calc(100vh - 46rem);
            overflow-y: auto;
        }
        >footer {
            transition: all 0.3s ease-in-out;
            position: fixed;
            left: 0;
            width: 100%;
            bottom: 0;
            z-index: 1;
            &.hide {
                bottom: -47rem;
            }
        }
    }
}