@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import "@/assets/scss/function.scss";
#app {
    width: 100%;
    min-height: 100vh;
    >section {
        @include displayflex(column, flex-start, flex-start, unset);
    }
    @media (min-width: 1200px) {
        $header: 200px;
        display: grid;
        grid-template-columns: 200px auto;
        >header {
            @include displayflex(column, flex-start, flex-start, unset);
            min-height: 100vh;
            background-color: #13131f;
            >.btnSet {
                @include displayflex(column, center, center, unset);
                margin-top: auto;
                margin-bottom: 30px;
                padding: 0 6px;
                width: 100%;
                >i {
                    width: 100%;
                    height: 1px;
                    display: block;
                    background-color: #212531;
                    margin: 15px 0;
                }
            }
        }
        >section {
            padding-left: 8px;
        }
    }
    @media (min-width: 737px) and (max-width: 1199px) {
        display: grid;
        grid-template-rows: 93px auto;
        >header {
            background-color: #1b1e25;
        }
    }
    @media (max-width: 736px) {
        overflow-x: hidden;
        >header {
            background-color: #1b1e25;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }
        >section {
            padding-top: 46px;
        }
        >footer {
            position: fixed;
            left: 0;
            width: 100%;
            bottom: 0;
            &.hide {
                bottom: -47px;
            }
        }
    }
}