@import "@/assets/scss/function.scss";
.btn_gasprice {
    @include media('<desktop') {
        margin-left: auto;
    }
    >span {
        @include displayflex(row, center, flex-start, unset);
        font-weight: 500;
        color: $BgColorWhite;
        >em {
            font-style: normal;
            color: $FontColorFluGreen;
            margin: 0 5rem;
        }
        >button {
            font-size: 15rem;
            margin-left: 10rem;
            >svg {
                color: $BgColorWhite;
            }
        }
        @include media('>=desktop') {
            font-size: 14rem;
            margin-top: 40rem;
        }
        @include media('<desktop') {
            margin-left: auto;
            margin-right: 15rem;
            border-radius: 2rem;
            padding: 0 15rem;
            height: 30rem;
            background-color: $BgColorTable;
        }
    }
    >.mask {
        @include mask;
    }
    >.layer_gas {
        @include layer(500rem, fixed);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        >.alert {
            @include displayflex(row, center, flex-start, unset);
            font-size: 13rem;
            color: $FontColorGreen;
            padding-left: 30rem;
            margin-bottom: 15rem;
            &::before {
                content: '';
                width: 15rem;
                height: 12rem;
                display: inline-block;
                background-image: url(#{$img}/plus-info-or.png);
                background-repeat: no-repeat;
                background-size: 100% auto;
                margin-right: 5rem;
            }
        }
        >.body {
            padding: 0 30rem;
            margin-bottom: 40rem;
            >li {
                display: grid;
                grid-template-columns: 150rem auto;
                grid-template-areas: 'item1 item2' 'item1 item3';
                &:not(:nth-of-type(2)) {
                    grid-row-gap: 10rem;
                }
                &:nth-of-type(2) {
                    >p {
                        justify-content: flex-end;
                    }
                }
                min-height: 30rem;
                padding-top: 10rem;
                &:not(:last-of-type) {
                    padding-bottom: 10rem;
                    border-bottom: 1rem solid $BgColorLayerPopupTabActive;
                }
                >strong {
                    @include displayflex(row, center, space-between, unset);
                    font-size: 15rem;
                    font-weight: 500;
                    color: $FontColorContent;
                    grid-area: item1;
                }
                >p {
                    @include displayflex(row, center, space-between, unset);
                    width: 100%;
                    &:first-of-type {
                        grid-area: item2;
                    }
                    &:last-of-type {
                        grid-area: item3;
                    }
                    >strong {
                        font-size: 15rem;
                        font-weight: 500;
                        color: $FontColorGreen;
                        margin-right: 5rem;
                    }
                    >span {
                        font-size: 15rem;
                        color: $FontColorContent;
                        >em {
                            @include symbol {
                                color: $FontColorGray;
                            }
                        }
                    }
                    >input[type=text] {
                        background-color: $BgColorNotFullDiv;
                        border: 0;
                        width: 180rem;
                        height: 36rem;
                        line-height: 36rem;
                        padding: 0 10rem;
                        margin: 0 5rem 0 auto;
                        color: $FontColorContent;
                        font-size: 15rem;
                        &::placeholder {
                            color: $FontColorInactive;
                        }
                    }
                }
            }
        }
    }
}