@import "@/assets/scss/function.scss";
.btn_gasprice {
    @include media('<desktop') {
        margin-left: auto;
    }
    >button {
        @include displayflex(row, center, flex-start, unset);
        font-weight: 500;
        line-height: 1;
        color: $BgColorWhite;
        >span {
            color: $FontColorRise;
        }
        >svg {
            font-size: 13rem;
            margin-left: 10rem;
        }
        @include media('>=desktop') {
            font-size: 14rem;
            margin-top: 40rem;
        }
        @include media('<desktop') {
            margin-left: auto;
            margin-right: 15rem;
            border-radius: 2rem;
            padding: 0 15rem;
            height: 30rem;
            background-color: $BgColorTable;
        }
    }
    >.mask {
        @include mask;
    }
    >.layer_gas {
        @include layer(500rem, fixed);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        >.alert {
            @include displayflex(row, center, flex-start, unset);
            font-size: 13rem;
            color: $FontColorGreen;
            padding-left: 30rem;
            margin-bottom: 15rem;
            &::before {
                content: '';
                width: 15rem;
                height: 12rem;
                display: inline-block;
                background-image: url(#{$img}/plus-info-or.png);
                background-repeat: no-repeat;
                background-size: 100% auto;
                margin-right: 5rem;
            }
        }
        >.body {
            padding: 0 30rem;
            margin-bottom: 40rem;
            >li {
                @include displayflex(row, center, flex-start, unset);
                min-height: 30rem;
                padding-top: 10rem;
                &:not(:last-of-type) {
                    padding-bottom: 10rem;
                    border-bottom: 1rem solid $BgColorLayerPopupTabActive;
                }
                >strong {
                    font-size: 15rem;
                    font-weight: 500;
                    color: $FontColorContent;
                    width: 150rem;
                }
                >p {
                    @include displayflex(row, center, flex-end, unset);
                    width: 100%;
                    >strong {
                        font-size: 15rem;
                        font-weight: 500;
                        color: $FontColorGreen;
                        margin-right: 5rem;
                    }
                    >span {
                        font-size: 15rem;
                        color: $FontColorContent;
                    }
                }
                >div {
                    >p {
                        @include displayflex(row, center, flex-start, unset);
                        width: 100%;
                        &:first-of-type {
                            margin-bottom: 10rem;
                        }
                        >span {
                            font-size: 15rem;
                            color: $FontColorContent;
                            >em {
                                font-style: normal;
                                font-size: 10rem;
                                vertical-align: top;
                                width: 12rem;
                                display: inline-block;
                            }
                        }
                        >input[type=text] {
                            background-color: $BgColorNotFullDiv;
                            border: 0;
                            width: 180rem;
                            height: 36rem;
                            line-height: 36rem;
                            padding: 0 10rem;
                            color: $FontColorContent;
                            font-size: 15rem;
                            margin: 0 5rem;
                            &::placeholder {
                                color: $FontColorInactive;
                            }
                        }
                    }
                }
            }
        }
    }
}