@import "@/assets/scss/function.scss";
.btn_gasprice {
    @include displayflex(row, center, flex-start, unset);
    font-weight: 500;
    line-height: 1;
    color: #fff;
    >span {
        color: #0fc14b;
    }
    &::after {
        content: '';
        display: inline-block;
        width: 13px;
        height: 13px;
        background-image: url(#{$img}/ico_setting.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100% auto;
        margin-left: 10px;
    }
    @media (min-width: 1200px) {
        font-size: 14px;
        margin-top: 40px;
    }
    @media (max-width: 1199px) {
        margin-left: auto;
        margin-right: 15px;
        border-radius: 2px;
        padding: 0 15px;
        height: 30px;
        background-color: #13131f;
    }
}