@import "@/assets/scss/function.scss";
.btn_gasprice {
    >button {
        @include displayflex(row, center, flex-start, unset);
        font-weight: 500;
        line-height: 1;
        color: #fff;
        >span {
            color: #0fc14b;
        }
        >svg {
            font-size: 13px;
            margin-left: 10px;
        }
        @media (min-width: 1240px) {
            font-size: 14px;
            margin-top: 40px;
        }
        @media (max-width: 1239px) {
            margin-left: auto;
            margin-right: 15px;
            border-radius: 2px;
            padding: 0 15px;
            height: 30px;
            background-color: #13131f;
        }
    }
    >.mask {
        @include mask;
    }
    >.layer_gas {
        @include layer(500px, absolute);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        >.alert {
            @include displayflex(row, center, flex-start, unset);
            font-size: 13px;
            color: #6bbd46;
            padding-left: 30px;
            margin-bottom: 15px;
            &::before {
                content: '';
                width: 15px;
                height: 12px;
                display: inline-block;
                background-image: url(#{$img}/plus-info-or.png);
                background-repeat: no-repeat;
                background-size: 100% auto;
                margin-right: 5px;
            }
        }
        >.body {
            padding: 0 30px;
            margin-bottom: 40px;
            >li {
                @include displayflex(row, center, flex-start, unset);
                min-height: 30px;
                padding-top: 10px;
                &:not(:last-of-type) {
                    padding-bottom: 10px;
                    border-bottom: 1px solid #e8e8e8;
                }
                >strong {
                    font-size: 15px;
                    font-weight: 500;
                    color: #444;
                    width: 150px;
                }
                >p {
                    @include displayflex(row, center, flex-end, unset);
                    width: 100%;
                    >strong {
                        font-size: 15px;
                        font-weight: 500;
                        color: #6bbd46;
                        margin-right: 5px;
                    }
                    >span {
                        font-size: 15px;
                        color: #444;
                    }
                }
                >div {
                    >p {
                        @include displayflex(row, center, flex-start, unset);
                        width: 100%;
                        &:first-of-type {
                            margin-bottom: 10px;
                        }
                        >span {
                            font-size: 15px;
                            color: #444;
                            >em {
                                font-style: normal;
                                font-size: 10px;
                                vertical-align: top;
                                width: 12px;
                                display: inline-block;
                            }
                        }
                        >input[type=text] {
                            background-color: #f8f8f8;
                            border: 0;
                            width: 180px;
                            height: 36px;
                            line-height: 36px;
                            padding: 0 10px;
                            color: #444;
                            font-size: 15px;
                            margin: 0 5px;
                            &::placeholder {
                                color: #bfbfbf;
                            }
                        }
                    }
                }
            }
        }
    }
}