@import "@/assets/scss/function.scss";
[data-layerPopup] {
    @include layer(500px, absolute);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    >.tit {
        >img {
            width: 17px;
            margin-right: 3px;
        }
        >strong {
            line-height: 1;
        }
        >span {
            @include displayflex(row, center, flex-start, unset);
            font-size: 11px;
            color: $FontColorFaq;
            position: relative;
            margin-left: 8px;
            &::before {
                content: '';
                display: inline-block;
                width: 1px;
                height: 10px;
                margin-right: 8px;
                background-color: #e8e8e8;
            }
        }
    }
    >article {
        @include displayflex(column, center, center, unset);
        background-color: $BgColorNotFullMo;
        height: 220px;
        >svg {
            font-size: 37px;
            color: $FontColorInactive;
        }
        >p {
            color: $FontColorInactive;
            font-size: 12px;
            font-weight: 500;
            margin-top: 11px;
        }
    }
}