article {
    $interval: (1 21% left, 2 13% right, 3 16% right, 4 23% right, 5 27% right);
    $grid-template-columns: 29% 15% 28% auto;
    $grid-template-areas: ( 'item1 item2 item3 item5' 'item1 item2 item4 item5');
    >table {
        @include list(99rem, $interval, $grid-template-columns, $grid-template-areas) {
            >tbody {
                >tr {
                    >td {
                        @include media('<=840px') {
                            >mark {
                                right: calc(30% + 5rem);
                            }
                            &:nth-of-type(5),
                            &:nth-of-type(6) {
                                font-size: 13rem;
                            }
                        }
                    }
                }
            }
        }
    }
}