@import "@/assets/scss/function.scss";
$interval: (1 17% left, 2 9% right, 3 12% right, 4 19% right, 5 22% right, 6 21% right);
$grid-template-columns:29% 15% 28% auto;
$grid-template-areas:( 'item1 item2 item3 item4' 'item1 item2 item5 item6');
table {
    @include list(63rem, $interval, $grid-template-columns, $grid-template-areas);
    >thead>tr>th {
        padding-top: 0;
    }
    >tbody {
        >tr {
            >td {
                @include media('<=840px') {
                    >mark {
                        right: calc(30% + 5rem);
                    }
                    &:nth-of-type(5),
                    &:nth-of-type(6) {
                        color: $FontColorIvory;
                        font-size: 13rem;
                    }
                }
            }
        }
    }
}