[data-layerPopup^="popupFiatType"] {
    @include layer(500rem, fixed);
    min-height: 510rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    padding-top: 20rem;
    >article {
        >.scarch {
            @include displayflex(row, center, flex-start, unset);
            background-color: $BgColorNotFullDiv;
            margin-bottom: 10rem;
            padding-left: 10rem;
            >input[type=text] {
                width: calc(100% - 30rem);
                height: 30rem;
                line-height: 30rem;
                border: 0;
                box-shadow: none;
                padding: 0;
                color: $FontColorContent;
                font-size: 13rem;
                font-weight: 500;
                background-color: transparent;
                &::placeholder {
                    color: $FontColorInactive;
                }
            }
            >button {
                &.btnDel {
                    font-size: 0;
                    width: 30rem;
                    height: 30rem;
                    background-color: transparent;
                    border: 0;
                    background-image: url(#{$img}/ico-clear-2.png);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 11rem auto;
                }
                &.btnSearch {
                    margin-right: 10rem;
                    >svg {
                        font-size: 15rem;
                        color: $FontColorInactive;
                    }
                    >span {
                        font-size: 0;
                    }
                }
            }
        }
        >.ps {
            height: 355rem !important;
            .currency {
                @include displayflex(row, flex-start, flex-start, wrap);
                padding: 10rem 0;
                >button {
                    @include displayflex(row, center, flex-start, unset);
                    @include language;
                    width: (100%/4);
                    font-weight: 500;
                    font-size: 13rem;
                    color: $FontColorContent;
                    &:not(:nth-of-type(-n+4)) {
                        margin-top: 20rem;
                    }
                }
            }
        }
    }
}